[2020-04-26 20:20] AvdLee opened #1 "Show a popup dialog to choose the right simulator if needed"
When two Simulators with the same screen ratio are open, RocketSim can't decide which one is the currently focused one. This could lead to a "bug" where the action is performed in the wrong simulator.

By showing the two simulators with the same ratio as a decision alert we can solve this issue in a better way.

[2020-04-27 19:32] AvdLee opened #2 "Add support for macOS Mojave 10.14"
This is most likely the most requested feature short-term. A crash is happening on 10.14 which should be fixed before adding support.

[2020-04-27 19:46] iSapozhnik commented on #1
Just as an idea... Why not showing a dropdown menu with different simulators which are currently booted?

[2020-04-28 07:53] AvdLee commented on #2
This crash is fixed and the build is submitted to the App Store.

[2020-04-28 17:34] pcolton opened #3 "Crash when trying to add new group"
New installation. I go to empty Deeplinks tab, click + and app crashes.

Also, if you just go to Deeplinks tab, do nothing else, and click the menubar icon, it crashes.

macOS 10.15.4

[2020-04-28 17:36] pcolton opened #4 "Cannot add app for 'Improved focus support'"
In the main pref window, clicking on Enable does bring up prefs, but RocketSim is not in the list and I cannot drag-drop in the app either, so there's no way for me to enable the improved focus support.

macOS 10.15.4

[2020-04-28 18:07] AvdLee commented on #3
Thanks for reporting in! This is fixed in 1.2 which is currently in review 💪

[2020-04-28 18:08] #3 closed

[2020-04-28 18:08] AvdLee commented on #4
Hmm, that's interesting! I'll see what I can do

[2020-04-28 18:10] AvdLee commented on #2
This is added in the 1.2 release which is currently In Review.

[2020-04-28 18:10] #2 closed

[2020-04-28 18:11] AvdLee opened #5 "Improve visibility of status bar icon"
Right now, it's pretty small. It can use a bit more body!

[2020-04-28 18:16] AvdLee opened #6 "Initial permissions window is not clear enough"
Multiple users gave feedback about the permissions introduction screen. It's not entirely clear what to do here.

We can improve this in multiple ways:
- Improved copy
- Show an introduction window

[2020-04-28 18:17] AvdLee opened #7 "Add a default dataset of URLs to use in the simulator"
This could help improve the understanding of RocketSim

[2020-04-28 18:18] AvdLee opened #8 "Add sound recording to the recording features"
Right now, the recordings won't contain any sound. It would be a great feature if sound can be recorded as well.

[2020-04-28 18:23] AvdLee opened #9 "The shortcut for quit is also logout on a Mac"
We can remove this shortcut

[2020-04-28 18:32] AvdLee opened #10 "Add recording feedback in status bar icon"
Ideally with a red dot that is blinking!

[2020-04-28 18:39] AvdLee commented on #9
Fixed!

[2020-04-28 18:39] #9 closed

[2020-04-28 19:09] #5 closed

[2020-04-28 19:12] AvdLee opened #11 "Screen recording permissions are also asked on Mojave"
This is only needed for Catalina!

[2020-04-28 19:21] #11 closed

[2020-04-29 06:30] jordibruin opened #12 "Save recordings to clipboard for easy sharing"
I would like to be able to record and quickly paste the video into iMessage, Twitter or Slack. Any plans for adding this?

[2020-04-29 17:52] AvdLee commented on #12
Yes, definitely! I'll add it to the roadmap

[2020-04-29 18:59] AvdLee commented on #6
Making progress!

https://twitter.com/rocketsim_app/status/1255571525094313985?s=20

[2020-04-29 19:00] #6 closed

[2020-04-30 19:23] AvdLee commented on #4
@pcolton does this issue still happen in 1.1.0?

[2020-04-30 23:22] pcolton commented on #4
Yes, still happens, I don’t see RocketSim in the list of apps I can select. I’ll try install and reinstall.

[2020-04-30 23:23] pcolton commented on #4
Reinstalling didn’t help. Might I need to clear out prefs or something?

[2020-05-01 07:24] AvdLee opened #14 "Add notifications for better feedback"
- [ ] Recording finished
- [ ] Recording started
- [ ] Deeplink launched
- [ ] Deeplink failed

Inspiration can be taken from: https://stackoverflow.com/questions/58613543/rename-or-replace-the-default-close-button-in-an-unnotification

[2020-05-01 20:37] AvdLee commented on #1
Yes, that’s kind of the idea!

[2020-05-02 16:36] AvdLee commented on #14
It turns out that notifications only work when the app is in the background, so this is not going to work for RocketSim as its always in the foreground when an action is performed.

[2020-05-02 16:36] #14 closed

[2020-05-02 16:37] AvdLee opened #15 "Copy to clipboard does not allow pasting in Slack"
iMessage works but pasting in Slack doesn't!

### Useful resources
- http://quabr.com/57648121/how-to-set-the-pasteboard-property-list-for-a-custom-type-nspasteboard-swift
- https://developer.apple.com/documentation/appkit/documents_data_and_pasteboard/supporting_drag_and_drop_through_file_promises

[2020-05-02 16:37] AvdLee commented on #12
This will be released in 1.3.0. Unfortunately, Slack does not work yet. I'm going to fix that with https://github.com/AvdLee/RocketSimApp/issues/15

[2020-05-02 16:37] #12 closed

[2020-05-02 16:37] AvdLee commented on #10
Done!

[2020-05-02 16:37] #10 closed

[2020-05-02 16:38] AvdLee opened #16 "Add shortcut for starting recording"
This would be great to have!

[2020-05-02 16:39] AvdLee opened #17 "Show touches in the simulator"
It would be nice to be able to show touches in the simulator during recording

[2020-05-02 17:03] AvdLee opened #18 "Create a floating thumbnail as option"
This could be a great way to more easily give feedback that a recording is finished and merges the "copy to clipboard" feature with the normal recording as you can simply drag the thumbnail into the destination

[code]

- [x] Create floating window
- [x] Create drag support
- [x] Integrate with recordings
- [x] Add <kbd>⌘CMD + C</kbd> https://twitter.com/r_alikhamov/status/1258495231684739073
- [x

[2020-05-02 18:37] gpambrozio opened #19 "Deeplink does not open my app"
**Describe the bug**
Using a deeplink that should open my app is opening Safari instead

**To Reproduce**
Steps to reproduce the behavior:
1. Have an app that is successfully setup to handle universal links (correct entitlement file, valid and available app association file), install on the simulator
2. Create a universal link in RocketSim that works on your app on a device
3. Activate the link in

[2020-05-02 20:57] hotngui commented on #8
Definitely need sound in order to be useful for my apps.

[2020-05-03 14:30] AvdLee commented on #19
Hey @gpambrozio, this sounds like an issue with Universal Links instead. Sometimes, universal links can sometimes stop working if its once denied by the user.

You can take a look at this troubleshoot guide as an example: https://blog.branch.io/3-steps-to-troubleshoot-ios-9-and-ios-10-universal-links/

Let me know if that works!

[2020-05-03 15:08] AvdLee commented on #16
Done!

[2020-05-03 15:08] #16 closed

[2020-05-03 15:11] AvdLee commented on #4
@pcolton would you mind sharing a screen recording of the issue? You could mail it to me at contact@avanderlee.com if you like to keep it private

[2020-05-03 15:19] pcolton commented on #4
Am I supposed to see RocketSim in that list of allowed screen sharing apps? I assume so.
[Screen Recording 2020-05-03 at 8.15.07 AM.mp4.zip](https://github.com/AvdLee/RocketSimApp/files/4570843/Screen.Recording.2020-05-03.at.8.15.07.AM.mp4.zip)

[2020-05-04 07:59] AvdLee commented on #8
@hotngui would you be OK if you need to change your system output to a virtual audio device called "RocketSim" before each recording? As in, would that already be great to have?

It's not really easy to record Simulator audio!

[2020-05-04 08:02] AvdLee commented on #4
@pcolton yes, you should!

![image](https://user-images.githubusercontent.com/4329185/80946413-4d7d1f80-8dee-11ea-8894-61e8770c9286.png)

I'll try to figure out what's going on here. Thanks for the recording!

[2020-05-04 08:12] AvdLee commented on #4
I think I know what's going on, this will be fixed in 1.3.0!

[2020-05-04 14:54] hotngui commented on #8
Yes that would be acceptable.

On May 4, 2020, at 12:59 AM, Antoine van der Lee <notifications@github.com> wrote:

﻿

@hotngui<https://github.com/hotngui> would you be OK if you need to change your system output to a virtual audio device called "RocketSim" before each recording? As in, would that already be great to have?

It's not really easy to record Simulator audio!

—
You are receiving this b

[2020-05-04 15:08] pcolton commented on #4
Wonder if this is related. I can try.

https://ericasadun.com/2020/05/04/catalina-permissions-chrome-zoom-etc/

-Paul

[2020-05-05 14:16] iSapozhnik opened #20 "RocketSim is crashing when recording a video"
**Describe the bug**
RocketSim is crashing when recording a video

**Steps To Reproduce**
Unfortunately I don't have any. At some moment that app just started to crash every time I'm trying to record a video.
The only thing I can see in the Console app is this: `Service exited due to SIGABRT`. I think you will see it in crash reports

**Desktop (please complete the following information):**
 - OS:

[2020-05-06 07:07] AvdLee commented on #4
I'm pretty sure the upcoming update will fix this for you. To end up in that list, the app should've used screen recording APIs at least once (of course, without it working as there's no permission). After that, the system will show the alert automatically and list RocketSim.

I'll keep you posted on the release, if it doesn't work, we can try out the link!

[2020-05-06 07:09] AvdLee commented on #20
Thank you for reporting this crash. I knew it happened on 1.1.0, did you also see it in 1.2.0?

[2020-05-06 07:19] iSapozhnik commented on #20
Let me update the app

[2020-05-06 07:21] iSapozhnik commented on #20
Yeah it's the same. Will try to remove the app and install it again.

[2020-05-06 11:59] EvilOne opened #21 "Sparse app icon in statusbar"
**Describe the bug**
The icon is rather sparse when not in dark mode. See the screenshots.

**To Reproduce**
Start the app and look to the statusbar.

**Expected behavior**
Unselected icon a little more visible than it currently is.

**Screenshots**
Unselected app icon:
<img width="50" alt="2020-05-06_06-57-25" src="https://user-images.githubusercontent.com/169561/81174150-e9ca3200-8f66-11ea-9254-

[2020-05-06 12:54] AvdLee commented on #21
That's a very good point! I love dark mode so much that I didn't notice this. I'll fix this!

[2020-05-06 19:06] AvdLee commented on #19
@gpambrozio closing this one. Feel free to reply and I'll open if needed.

[2020-05-06 19:06] #19 closed

[2020-05-06 19:06] AvdLee commented on #21
This will be fixed in the upcoming release!

[2020-05-06 19:06] #21 closed

[2020-05-06 19:11] gpambrozio commented on #19
@AvdLee I'm still trying to figure out what's wrong. Universal links work perfectly on a device with the same project so the setup should be working. Not sure if there's something the sim does differently in this case.

[2020-05-06 19:11] AvdLee commented on #4
I've submitted 1.2.1 that fixes this. Please, feel free to reopen if this issue still occurs. Thanks for reporting in!

[2020-05-06 19:11] #4 closed

[2020-05-07 06:33] AvdLee commented on #19
@gpambrozio can you reset the simulator through "Device -> Erase all contents and settings" and try it again?

[2020-05-07 18:20] AvdLee commented on #20
This is fixed in 1.2.2!

[2020-05-07 18:20] #20 closed

[2020-05-07 18:37] pcolton commented on #4
Good news, fixed!

<img width="349" alt="image" src="https://user-images.githubusercontent.com/92073/81331858-12c9f000-9057-11ea-8411-b84c1566553a.png">

[2020-05-07 19:20] GrandPoohBear opened #22 "Ordering of Deeplinks in menu is inconsistent"
**Describe the bug**
Ordering of the Deeplink menu items is inconsistent between menu renderings.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a bunch of Deeplinks named "A","B","C","D","E"
1.  Close the app and relaunch
2.  Open the menu to launch one of the deeplinks, note the order of the menu items.
3.  Click away, then click back to the menu.
4.  _Sometimes_ the ordering chan

[2020-05-08 06:53] AvdLee commented on #22
Thanks @GrandPoohBear, this indeed can be improved and could start with simply alphabetical order. Ideally, the order would be manageable from the settings but that's something for the long-term. I'll add this to the roadmap!

[2020-05-08 07:23] AvdLee commented on #4
Nice!!! Thanks for replying back to me!

[2020-05-10 17:17] AvdLee commented on #22
![image](https://user-images.githubusercontent.com/4329185/81505873-daded900-92f2-11ea-85db-f2ad10d578a8.png)

Working on it! I will try to submit this tonight, releasing it in 1.2.3!

[2020-05-10 17:25] AvdLee commented on #22
Submitted, thanks again for reporting in!

[2020-05-10 17:25] #22 closed

[2020-05-17 14:34] AvdLee commented on #18
Done!

[2020-05-17 14:34] #18 closed

[2020-05-17 14:36] AvdLee commented on #15
This is fixed with the floating thumbnail. Copy pasting of files from Finder isn't working either, so can't be really fixed

[2020-05-17 14:36] #15 closed

[2020-05-17 14:37] AvdLee opened #23 "Improve performance by caching the current simulator list"
It's unlikely that the list of simulators is changing often. Therefore, we can cache this and speed up the launch of actions.

[2020-05-17 14:38] AvdLee opened #24 "Allow exporting to GIF"
This would be great for posting into, for example, GitHub!

[2020-05-20 19:12] amayers opened #25 "Change recording destination folder"
**Describe the solution you'd like**
Recordings created by RocketSim would be saved to `~/Desktop` folder. Since this is the default behavior for the simulator's CMD-S for screenshots, as well as macOS' screenshot/recording functionality.

**Describe alternatives you've considered**
I guess you could make this configurable, but IMHO its probably not worth that additional UI/complexity.

[2020-05-22 09:40] AvdLee opened #26 "Add a share menu extension to open URLs"
This could be a great productivity booster 🚀

CC https://twitter.com/_Jordan/status/1263600458381180928?s=20

[2020-05-22 18:17] AvdLee commented on #24
This is working and done! 🎉

[2020-05-22 18:17] #24 closed

[2020-05-24 17:19] AvdLee opened #27 "Improve GIF generation"
Currently, GIFs can be quite big. We should look into improving this feature so more GIFs are able to be uploaded to sites like GitHub.

[2020-05-27 20:04] xlsmearlx opened #29 "Trigger deeplinks from app menu while recording"
**Is your feature request related to a problem? Please describe.**
Currently, I'm trying to record several deeplinks in my app, but the app icon change to stop recording and I'm unable to select one of my stored deeplinks.

**Describe the solution you'd like**
Maybe add an option to stop the recording or trigger a deeplink in the app menu.

[2020-05-28 06:52] AvdLee commented on #29
This is a good point! I could make an "extra" statusbar icon for stopping the recording. I'll see what I can do!

[2020-05-28 06:53] AvdLee opened #30 "Allow to switch the Xcode version to use"
When working with multiple Xcode versions it can be useful to be able to switch which Xcode version is used by RocketSim.

[2020-05-29 13:09] AvdLee opened #31 "MP4 videos are not playing in Slack"
Other videos are playing in Slack so it's weird that this one isn't!

[2020-05-30 16:26] AvdLee commented on #30
Fixed!

[2020-05-30 16:26] #30 closed

[2020-05-30 17:17] AvdLee commented on #25
Done!

[2020-05-30 17:17] #25 closed

[2020-05-31 22:35] xlsmearlx commented on #30
Thanks! =)

[2020-06-04 06:58] AvdLee opened #32 "Video Performance"
**Describe the bug**
It seems that the performance of videos is not always optimal: https://twitter.com/pd959/status/1267812116792131584?s=20

**To Reproduce**
Steps to reproduce the behavior:
1. Download https://github.com/pd95/CS193p-Memorize
2. Try recording a video

**Expected behavior**
Smooth videos!

[2020-06-06 15:32] pd95 commented on #32
Somehow RocketSim keeps 5-7% CPU after having saved a file. Don't know what is going on. I will attach an analysis report from activity monitor.

[Analyse von „RocketSim“.txt](https://github.com/AvdLee/RocketSimApp/files/4740532/Analyse.von.RocketSim.txt)

[2020-06-06 17:27] pd95 opened #33 "Unreadable button in "light mode""
**Describe the bug**
When a video has been recorded, the buttons allowing to switch between MP4 and GIF are not well readable in light mode.

**To Reproduce**
1. Capture a video
2. After stopping the recording, the dialog which allows switching between GIF and MP4 has black text on dark gray background
3. See attached screenshot

**Expected behavior**
Readable buttons also on

**Screenshots**
<img

[2020-06-07 07:50] akashnimare opened #34 "Copy gif to clipboard"
Great little app. Been using https://www.getcloudapp.com/ for the same purpose. The one thing I really liked about CloudApp is that once you are finished recording up the gif, it will copy the same into your clipboard which really saves time. This is what I'm looking for -

* Move the setting for gif/mp4 to somewhere in preference

I think the whole thing here can be moved to preference since the

[2020-06-08 17:27] jnwagstaff opened #35 "Send push notifications"
I love that you can open deeplinks easily, it would also be awesome to be able to send notifications through APNS to ensure all the setup is correct.

[2020-06-09 20:31] AvdLee commented on #35
Yes, totally agree! I’m planning to build this just like with deeplinks in a manageable manner 💪🏻

[2020-06-16 18:38] gpambrozio commented on #19
@AvdLee I know now what is the issue, not sure how to fix it. Leaving it here for historical reasons and in the hope someone might have an idea.

Our app was created originally by developer X and then transferred to developer Y. So our app id we have in `apple-app-site-association` is `X.com.whatever`. But the app is signed with a cert from developer `Y`. So for simulator builds the verification f

[2020-06-17 12:24] AvdLee commented on #19
@gpambrozio that's unfortunate! I'm unsure how to fix that for you but it's clearly not an issue with RocketSim. If you like, keep us posted on any solutions you find for, indeed, future reference!

[2020-06-17 15:37] renssies opened #36 "Adding a deeplink with leading or trailing whitespace causes the link to be removed"
**Describe the bug**
I was creating a group of deeplinks and discovered that if I press + any deep links with leading or trailing whitespace are removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the preferences
2. Create a new Deeplinks group
3. Set a title
4. Click the plus to add a deeplink
5. Enter a title for the deeplink
6. Enter the URL but add a space before or after the U

[2020-06-17 15:43] renssies opened #37 "Allow re-ordering of deeplinks"
**Is your feature request related to a problem? Please describe.**
I have several deep links that link to parts of a profile page. So I've named them "Profile -> PART". However, I copied the links in random order and now they are in a random order in the menu bar item.

**Describe the solution you'd like**
I would like to drag a deep link to re-order it, similar to dragging an item in the Xcode or

[2020-06-18 06:13] AvdLee commented on #36
Oh, wow, nice catch! This should be easy to fix. I'll add it to the roadmap.

[2020-06-18 06:14] AvdLee commented on #37
Makes total sense! Thanks for reporting in. I've already had it on my list but it hasn't been a priority yet. I'll see what I can do!

[2020-06-19 07:29] AvdLee opened #38 "Copy GIF is pasted as PNG"
**Describe the bug**
When selecting GIF, then copy, the file is pasted as PNG instead of GIF.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a recording
2. Select GIF
3. Press _Copy_
4. Paste in Slack
5. See that it's pasted as PNG

**Expected behavior**
It should be pasted as a GIF

[2020-06-24 09:12] pd95 commented on #32
Just to let you know: I've tested everything with Xcode 12 beta 1, and the stuttering persists.
The stuttering disappears only if I use the `codec` option in `simctl` (but the file size is  much bigger):

    xcrun simctl io 5DD37C26-6507-4EB1-8E57-151A110E8AA2 recordVideo --codec=h264 test.mp4

So I suppose the issue is that the my Mac cannot run the Simulator and the HEVC encoding in parallel.

[2020-07-02 15:30] crabucate opened #39 "gif quality"
**Describe the bug**
The gifs have grey stripes in white areas.
**To Reproduce**
Steps to reproduce the behavior:
1. Record a gif with a white tableviewcontroller

**Expected behavior**
Well, it should be white. ;)

**Screenshots**
![crabnotes](https://user-images.githubusercontent.com/61051016/86378558-127e5780-bc8a-11ea-94c2-472e885b0301.gif)

[2020-07-06 11:49] AvdLee commented on #39
Thanks for reporting in, this should indeed be better!

[2020-07-08 18:49] hamsternik opened #40 "Brew formulae"
**Is your feature request related to a problem? Please describe.**
Add Brew support

**Describe the solution you'd like**
Add Home-brew formulae like [the bunch of other macOS apps](https://formulae.brew.sh/formula/).

Actually I don't know should I add the steps of implementation for that one or not 😬

[2020-07-09 07:21] AvdLee commented on #40
Hi @hamsternik,

What exactly do you want to do with Home-brew support? I don't see how this works with Mac Apps 🤔

[2020-07-09 16:18] AvdLee commented on #33
Fixed!

[2020-07-09 16:21] AvdLee commented on #17
For future reference, the new preferences option in the Xcode 12 simulator to enable touches is not included in recordings. Therefore, a custom solution is required.

[2020-07-09 16:26] AvdLee commented on #36
Fixed!

[2020-07-09 16:26] #36 closed

[2020-07-09 16:26] #33 closed

[2020-07-09 16:29] AvdLee commented on #34
I've decided to remember the switch position as a setting. This feels more intuitive!
The automatic copy to pasteboard is a bit harder as the GIF needs to be generated which takes time. Therefore, you wouldn't know when its actually added to your clipboard and it might be a worse experience.

[2020-07-09 16:44] AvdLee commented on #34
Done!

[2020-07-09 16:44] #34 closed

[2020-07-09 17:02] AvdLee commented on #32
@pd95 I'm afraid I can't do a lot about that as I'm dependent on `simctl` for the recording. I've at least fixed the CPU issue which is already great.

I'll keep an eye open for video performance improvements and will implement so if I'm able to!

[2020-07-09 17:02] #32 closed

[2020-07-09 17:16] AvdLee commented on #38
This seems to be an issue in Chrome and Slack, not something we can change!

https://www.reddit.com/r/chrome/comments/21bh5d/how_come_chrome_cant_copypaste_a_gif/

[2020-07-09 17:16] #38 closed

[2020-07-09 17:27] AvdLee commented on #32
Good news; to fix https://github.com/AvdLee/RocketSimApp/issues/31 I had to change the codec to h264. It's actually not that bad to do so, especially as it will fix your issue too! 🎉

[2020-07-09 17:28] AvdLee commented on #31
The HEVC MP4 codec is not supported by Slack. Changing it to h264 fixed it!

[2020-07-09 17:28] #31 closed

[2020-07-09 17:29] AvdLee commented on #40
Closing this for now as I don't see what I can do here

[2020-07-09 17:29] #40 closed

[2020-07-13 13:10] pd95 opened #41 "Unresponsive floating window after double recording"
**Describe the bug**
After recording a video (=start & stop, floating window appears), I was not happy due to an oopsie while recording. Therefore I didn't "save" or "copy" the result of the capture and started a new recording.
After finishing the second recording, the floating window updates its content with the new capture, but is completely unresponsive... RocketSimApp has to be killed to get u

[2020-07-16 15:29] AvdLee commented on #41
Fixed and will be included in the next release!

[2020-07-16 15:29] #41 closed

[2020-07-22 18:37] AvdLee commented on #37
Fixed and scheduled for the next update! https://twitter.com/rocketsim_app/status/1286007245545844736?s=20

[2020-07-22 18:37] #37 closed

[2020-07-24 11:37] atrinh0 opened #42 "Show a countdown before recording ⏱"
**Is your feature request related to a problem? Please describe.**
When "Start recording", it often starts immediately, we need to watch for the notification that it is recording, and then quickly read the message to verify that it is recording. Then we quickly move the mouse pointer back over the the simulator to start our interactions.

**Describe the solution you'd like**
When we do a screen re

[2020-07-24 12:01] atrinh0 opened #43 "Save mp4 & gif by default option 💾"
**Is your feature request related to a problem? Please describe.**
We have a choice of only `mp4` or `gif`, however if you wanted both you have to record it again to save it again.
Let's say you recorded that perfect clip and wanted to share the `gif` on GitHub and save the `mp4` to include in an AppStore preview video, you'd need to do that twice.
Another issue is when dragging the saved modal to

[2020-07-24 12:11] atrinh0 opened #44 "Shortcut to export location 📂"
**Is your feature request related to a problem? Please describe.**
To quickly jump to the exported files, we need to either save a new recording, or manually browse through finder to find the export location.

**Describe the solution you'd like**
Ideally a shortcut to open finder to our exported location would be nice.
Similar to Xcode perhaps.

![open finder](https://user-images.githubusercontent

[2020-07-24 12:58] atrinh0 opened #45 "Menu consistency with Apple guidelines 👨🏻‍🏫"
https://developer.apple.com/design/human-interface-guidelines/macos/menus/menu-anatomy/

*Use title-style capitalization*
*Use an ellipsis whenever choosing a menu item requires additional input from the user.*

| Current | Suggested |
| --- | --- |
| Run from clipboard | Run from Clipboard |
| No deeplinks configured | No Deeplinks Configured |
| Start recording | Start Recording (and show shortc

[2020-07-24 13:38] AvdLee commented on #43
This is great input. I'll try to make the best out of this!

[2020-07-24 13:39] AvdLee commented on #42
I can see this being a very welcome change. I'll see what I can do!

[2020-07-24 13:39] AvdLee commented on #44
Sounds like a quick win!

[2020-07-24 13:40] AvdLee commented on #45
Wow, this is quality feedback!! I'm really impressed and highly motivated to implement your requests. Thanks a ton!

[2020-07-25 18:57] AvdLee commented on #45
Done! Will be included in the next release

[2020-07-25 18:57] #45 closed

[2020-07-25 19:23] AvdLee commented on #44
Done, added the shortcut arrow!

![image](https://user-images.githubusercontent.com/4329185/88464680-066a6c00-cebd-11ea-923d-a11cdaeb4fea.png)

[2020-07-25 19:23] #44 closed

[2020-07-25 19:36] AvdLee commented on #43
Started to make progress on this one, added a close button:

![image](https://user-images.githubusercontent.com/4329185/88464902-bd1b1c00-cebe-11ea-946b-322f4b8a22e3.png)

The next steps are to make the thumbnail never appear automatically. That way you can take as many actions and exports as you want.

[2020-07-25 19:53] AvdLee commented on #43
Alright, this is what I've done:

- The thumbnail closes upon pressing one of the action buttons
- Dragging can be canceled with ESC while the floating thumbnail stays visible
- You can drag as many times as you want

[2020-07-25 19:53] #43 closed

[2020-07-25 19:59] AvdLee opened #46 "Add a Twitter button to quickly share on Twitter"
This could be great for sharing progress on social channels

[2020-07-28 15:09] hamsternik commented on #40
@AvdLee I mean to add the feature to install your app via Homebrew. Something like `brew cask install rocketsim`.

One point that confused myself about add it to Homebrew is that the app is not free but you sell it via AppStore. So if you want to add the possibility be installed via Homebrew you have add some sort of **buy Licence** logic inside your app.

[2020-07-29 08:04] AvdLee commented on #40
@hamsternik gotya, makes sense. Indeed, it's not something I have for now! I'll revisit this if anything changes.

[2020-08-23 23:26] chriisong opened #47 "Doesn't save"
**Describe the bug**
Whether MP4 or GIF format, after recording the simulator and the little preview is shown at the bottom right of the screen, saving does not actually save to the designated folder.

**To Reproduce**
Steps to reproduce the behavior:
1. record
2. end record
3. file won't save

**Expected behavior**
file will save

**Desktop (please complete the following information):**
 - OS: 10

[2020-08-24 06:45] AvdLee commented on #47
@chriisong is the file being saved in a different folder instead? or isn't it saved at all?
If the latter, you could try changing the destination folder but it's obviously a bug that needs to be fixed.

[2020-08-25 07:41] chriisong commented on #47
It does save if I make a new folder and select it as the location. I'm trying to figure out what causes the selected location to stop working

[2020-08-25 15:05] AvdLee commented on #47
@chriisong that would be super useful to know, I'll see what I can do too. Let me know if you have any updates!

[2020-08-25 18:15] chriisong opened #48 "GIF doesnt save the entire duration"
**Describe the bug**
Saving as GIF (haven't tried  MP4) does not save the entirety of the recording.

**To Reproduce**
Steps to reproduce the behavior:
1. Record
2. Save as GIF
3. Watch the recording
4. See error

**Expected behavior**
GIF file should play the entirety of the recorded duration

**Screenshots**
[Youtube video, recording of the error](https://youtu.be/4S4oAE3zuEk)

**Desktop (please

[2020-08-26 08:33] AvdLee commented on #48
@chriisong I absolutely love how you're reporting this issue, this is super useful. I'm currently working hard on the export logic of both the recordings and GIFs which will hopefully, automatically, solve this issue too. I don't have an exact timeline but do know I'm making progress every week!

I'll keep you posted in this issue. Thanks again!

[2020-09-02 22:01] ajmccall opened #49 "Add option to trash video."
**Is your feature request related to a problem? Please describe.**
I often find that I do not need to Save or Copy the simulator's recording once it has finished.

A common scenario is when using RocketSim to record ui tests. As UI tests are long and tedious, I record the tests to play back _if_ they fail. Often they don't fail, or the failure is obvious. In this case I usually Save the video and

[2020-09-03 09:00] AvdLee commented on #49
Thanks for reporting in @ajmccall. I happy to tell that I've got this implemented already and scheduled for the next release! Therefore, closing this one 💪

[2020-09-03 09:00] #49 closed

[2020-09-03 11:44] ajmccall commented on #49
Amazing!

On Thu, 3 Sep 2020 at 10:00, Antoine van der Lee <notifications@github.com>
wrote:

[2020-09-04 09:56] djavan-bertrand opened #50 "Start recording blocks the UI if the previous record was not saved"
**Describe the bug**
If we start a record while the former record was not saved or discarded (i.e. the small preview with the gif or mp4 save options is still displayed), when we stop the record, there is no way to save this new record (i.e. the small preview is displayed but hovering with the mouse does not show any save option) and the preview is blocked there with no way to discard it.

**To Re

[2020-09-07 07:24] AvdLee commented on #50
@djavan-bertrand thanks for reporting in. I can confirm this is fixed in the next big release. It's a bigger release that will take a few weeks to arrive but I promise you it's worth it!

[2020-09-07 07:24] #50 closed

[2020-09-07 08:01] djavan-bertrand commented on #50
Thanks for the quick answer. No worries, this was not a blocking bug, i'll wait for the next release.
Thanks a lot for all your work !

[2020-09-30 04:31] TheEffekted opened #51 "Allow the user to order their deep links."
**Is your feature request related to a problem? Please describe.**
As far as I'm aware, you are unable to order your deep links in a group. If you have dozens of deep links and want to add another, it has to be put at the bottom of the group. This is problematic if you want to put similar deep links next to each other, like a subcategory and category deep links, but your ordering has already been

[2020-09-30 07:58] AvdLee commented on #51
I've got good news, this is working in a local version of mine and was fixed with #37!

Currently, I'm working on a big 3.0 update. Downside is that it takes a bit longer for it to arrive but it will contain many great features.

[2020-09-30 07:58] #51 closed

[2020-10-03 17:17] atrinh0 opened #52 "Crash when stopping recording 🥺"
**Describe the bug**
App crashes when stopping a recording. Started happening on the latest Big Sur beta. Earlier betas were ok.

**To Reproduce**
Steps to reproduce the behavior:
1. Start recording with the simulator open
2. Stop the recording (either by shortcut, or the menu icon to stop)

**Expected behavior**
Historically, the bottom right modal appears, now the app disappears from the top men

[2020-10-03 17:20] atrinh0 commented on #52
Additional info:
- I have restarted
- I have cleared the simulator, and tried other simulators
- I have cleared the contents of the export location
- I have explicitly selected Xcode
(all the above have not resolved the issue)

RocketSim still works on my work laptop running Catalina.

[2020-10-05 08:42] AvdLee commented on #52
@atrinh0 thanks for reporting in with great details. Big Sur support is coming as soon as possible!

[2020-10-09 16:41] AvdLee commented on #39
This is fixed with 3.0

[2020-10-09 16:41] #39 closed

[2020-10-09 16:42] AvdLee commented on #27
3.0 drastically improves GIF size!

[2020-10-09 16:42] #27 closed

[2020-10-09 16:43] AvdLee commented on #48
This should be fixed with 3.0, available later this month. If not by then, feel free to reopen and I'll dive deeper into this.

[2020-10-09 16:43] #48 closed

[2020-10-11 17:15] AvdLee commented on #52
I've tested out on Big Sur and found no serious issues. I did find weird cases when Xcode was not located in the Applications folder. Is that true in your case?

[2020-10-12 08:25] atrinh0 commented on #52
My Xcode is located at: `/Applications/Xcode.app`

[2020-10-18 10:08] AvdLee opened #53 "Pro screen in preferences is not refreshing"
Once upgraded to pro, the preferences screen seems to still show IAP.

[2020-10-18 10:09] AvdLee opened #54 "Open from App Store does not seem to reload Pro State"
It's likely better to refresh pro status on foreground if not pro.

[2020-10-18 13:22] AvdLee commented on #53
Fixed with 3.0.1

[2020-10-18 13:22] #53 closed

[2020-10-18 13:22] AvdLee commented on #54
Fixed with 3.0.1

[2020-10-18 13:22] #54 closed

[2020-10-18 13:22] AvdLee commented on #52
@atrinh0 can you upgrade to 3.0.0 and see if this still occurs?

[2020-10-18 13:23] AvdLee commented on #47
@chriisong did you manage to find out the cause?

[2020-10-18 19:25] chriisong commented on #47
I have not. But it happens when the app crashes, and afterwards it won't save to that folder. Is there a way for me to send you logs?

[2020-10-19 07:23] AvdLee commented on #47
There is a way directly through the Console.app in which you can filter per app. However, I might be better of implementing https://github.com/WeTransfer/Diagnostics, after which you can update and share it super easily.

T.b.c.!

[2020-10-19 12:00] atrinh0 commented on #52
Confirmed to be fixed in 3.0.1 👍🏻

[2020-10-19 12:00] #52 closed

[2020-10-21 18:08] anastely commented on #2
Hey @AvdLee I guess it's not available now for this version 10.14 :(?
![Screen Shot 2020-10-21 at 9 07 20 PM](https://user-images.githubusercontent.com/24620979/96760252-8bdcba00-13e1-11eb-87e6-ec23f55d04d5.png)

[2020-10-22 07:06] AvdLee commented on #2
@anastely correct, I had to drop 10.14 for several improvements, unfortunately. Is there no way for you to upgrade to Catalina?

[2020-10-22 07:08] anastely commented on #2
@AvdLee Sadly no..

[2020-10-22 07:41] piercifani opened #56 "Select Simulator"
**Is your feature request related to a problem? Please describe.**
When I have more than one simulator open at a time (for example iPhone and iPad), I'd like to select which one is recorded.

**Describe the solution you'd like**
When more than one simulator window is open, the "Start Recording" option should have a submenu where you can select from which simulator.

**Describe alternatives you've

[2020-10-22 08:33] AvdLee commented on #56
@piercifani thanks for reaching out! The simulator is selected by picking the front-most. Just make sure to have the simulator you want to be recorded in front and all should be fine.

Do note that you can improve this functionality from the preferences window:
![image](https://user-images.githubusercontent.com/4329185/96846221-e6adfa00-1451-11eb-9805-50a10822d0bb.png)

I'm not planning to built-i

[2020-10-22 08:43] piercifani commented on #56
It doesn't work for me, it always picks up the iPhone instead of the iPad simulator, no matter which one is the front-most window, even minimising the iPhone sim doesn't do the trick

[2020-10-22 08:47] AvdLee commented on #56
@piercifani it might be a bug in this case.

- Which iPhone do you have open?
- Which iPad do you have open?
- Do you have the Improved active simulator detection enabled?

[2020-10-22 13:45] piercifani commented on #56
iPhone 11 Pro

iPad Pro 11 2nd Gen

Yep (actually, can you even turn [it off](https://user-images.githubusercontent.com/869981/96880603-a6647100-147d-11eb-83e9-a302b0b1dad7.png)?

[2020-10-22 14:12] AvdLee opened #57 "When default locations doesn't exist, saving doesn't work"
https://twitter.com/perkodar/status/1319227031335424000?s=11

[2020-10-26 07:06] AvdLee opened #58 "Purchase screen shows up on launch"
**Describe the bug**
Every time at launch, the purchase screen is shown even if you're already pro.

**To Reproduce**
Steps to reproduce the behavior:
1. Restart your Mac while being PRO
2. See that RocketSim is automatically started
3. See that the purchase window is shown

**Expected behavior**
The purchase window should only be shown if non-PRO.

[2020-10-26 12:50] AvdLee opened #59 "Thumbnail shows behind dock"
An image describes it all:

![image](https://user-images.githubusercontent.com/4329185/97174320-3b26e180-1792-11eb-9ab7-8b5026b0295a.png)

[2020-10-26 21:42] TheEffekted opened #60 "Issue with syncing linked JSON files"
**Describe the bug**
I track linked JSON files in Git so I can share the deep links with my team. But whenever I change a deep link in a group using the  Mac app, it doesn't change the corresponding deep link in the linked JSON file. So it appears as if the JSON file isn't linked at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a group and some deep links.
2. Link that group to

[2020-10-29 20:28] rlaurb commented on #17
+1. As an instructional aid, the video needs to show what you need to do to achieve a result. What I'd like to see is a round spot (like the "finger" spots that show when you press the option key in simulator) that tracks the mouse and does something visual (like change color) when you click the mouse. This would allow the viewer to know exactly what you were doing in the video.

[2020-10-30 14:42] AvdLee opened #61 "Open deeplinks with quotes"
**Describe the bug**
See: https://twitter.com/iAmericanBoy/status/1322182334930628609?s=20
It seems that saving URLs with quotes isn't working correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to deeplinks group managing
2. Add a URL with a query parameter, like: `?orderCode=“12345”`
3. Try to save

[2020-11-17 17:00] AvdLee commented on #61
This is fixed in the upcoming update

[2020-11-17 17:01] #61 closed

[2020-11-17 17:09] AvdLee commented on #60
Thanks for reporting in. The wrong security scope was set and it was read-only. I've fixed this for the upcoming update but it does mean you have to link it again. However, it's going to work!

[2020-11-17 17:09] #60 closed

[2020-11-17 17:10] AvdLee commented on #47
I found out the cause of this issue. I was setting the wrong security scope! This is fixed in the upcoming update.

[2020-11-17 17:10] #47 closed

[2020-11-23 07:47] AvdLee opened #62 "Verify PRO status when recovered from early adoption"
**Describe the bug**
Some report the watermark is still visible while being promoted to PRO on Big Sur after being an early RocketSim adapter.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Big Sur
2. Upgrade to PRO from early adoption
3. See preferences screen showing is pro
4. See watermark being visible

**Expected behavior**
Watermark should hide

**Desktop (please complete the

[2020-11-23 07:48] AvdLee opened #63 "Add support for rotated recordings"
**Is your feature request related to a problem? Please describe.**
Recording a device which is in, for example, landscape, doesn't record nicely.

**Describe the solution you'd like**
Support rotated device recording.

[2020-11-23 07:49] AvdLee opened #64 "The screen size for iPad 12.9'' 3rd is not accepted by ASC"
**Describe the bug**
A screen recording for the iPad 12.9'' 3rd edition is not accepted by App Store Connect as a preview video.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the iPad 12.9'' 3rd simulator
2. Create a recording
3. Upload to App Store Connect
4. See error

**Expected behavior**
The recording should be accepted

**Additional context**
Reported by François

[2020-11-23 08:05] frboulais commented on #62
Even with a lifetime subscription:
<img width="912" alt="Screenshot 2020-11-23 at 09 01 04" src="https://user-images.githubusercontent.com/4943835/99939476-6b9a7500-2d6a-11eb-8ac9-af71212a1af2.png">
The rendered video still shows the RocketSim watermark:
<img width="543" alt="Screenshot 2020-11-23 at 09 04 37" src="https://user-images.githubusercontent.com/4943835/99939686-ebc0da80-2d6a-11eb-8690-

[2020-11-23 08:09] frboulais commented on #63
The generated video doesn't take the device rotation into account, that could be a really nice bonus!
<img width="806" alt="Screenshot 2020-11-23 at 09 08 55" src="https://user-images.githubusercontent.com/4943835/99939948-85888780-2d6b-11eb-81d0-2b5b48f4c464.png">

[2020-11-23 08:12] frboulais commented on #64
App Store Connect requires a **1200x1600** or **1600x1200**:
<img width="1097" alt="Screenshot 2020-11-23 at 09 10 51" src="https://user-images.githubusercontent.com/4943835/99940088-ca142300-2d6b-11eb-93e4-3b91ad5b498c.png">
But the generated video is **2048x2732**
<img width="464" alt="Screenshot 2020-11-23 at 09 12 13" src="https://user-images.githubusercontent.com/4943835/99940196-fc258500-2d6

[2020-11-23 08:14] frboulais commented on #64
Same bug observed with 3rd generation (the resolution should also be accepted)

[2020-11-30 09:15] AvdLee opened #65 "Screen recording colors are off in some cases"
**Describe the bug**
See this tweet: https://twitter.com/RecursiveSwift/status/1331990645980839936?s=20
Although this is not created using RocketSim, RocketSim produces the same recording. The question is whether we can do anything about this.

[2020-12-15 10:14] AvdLee opened #66 "Copy should be different on PRO tab"
**Describe the bug**
Best described here: https://twitter.com/rowellx68/status/1338601661678366721?s=20

[2020-12-27 15:42] AvdLee commented on #62
@frboulais I've verified the implementation and it's looking all good. You do have to disable the watermark yourself after becoming pro. You can do this from the general tab.

Did the watermark still appear after doing that?

[2020-12-27 16:48] massimobio commented on #8
This would be great!
Perhaps [BlackHole](https://github.com/ExistentialAudio/BlackHole) could be used to route system audio to RocketSim.

[2020-12-29 15:11] AvdLee commented on #58
This is fixed in the next release.

[2020-12-29 15:11] #58 closed

[2020-12-29 15:11] AvdLee commented on #62
Closing this as it seems to be fixed. Feel free to comment for a reopen!

[2020-12-29 15:11] #62 closed

[2020-12-29 15:30] AvdLee commented on #56
Reproduced this locally, working on a fix for the next update.

[2020-12-31 15:03] AvdLee commented on #56
Fixed in the next release!

[2020-12-31 15:03] #56 closed

[2020-12-31 15:12] atrinh0 commented on #65
Please see mp4 and gif renditions of the same clip.

The top right blue button, and yellow backgrounds lose their colors, and the cream skin tones of the emojis also become white.

https://user-images.githubusercontent.com/16542463/103415500-39a2dc80-4b7a-11eb-90ab-e96ae4856c1b.mp4

![RocketSim Recording - iPhone 12 mini - 2020-12-31 15 06 31](https://user-images.githubusercontent.com/16542463/103

[2020-12-31 15:45] crabucate opened #67 "Save-Button doesn't save"
Pressing the Save-Button doesn't save the gif to the specified location. The gif is just gone.
I can copy and paste. That works.

[2021-01-01 15:58] AvdLee commented on #67
Might be related to #57. What is your location setting showing?

![image](https://user-images.githubusercontent.com/4329185/103442002-80fc9c00-4c52-11eb-9dba-9279ae97957c.png)

[2021-01-01 16:12] AvdLee commented on #57
I could not reproduce this one, saving just seems to work fine.

[2021-01-01 16:32] AvdLee commented on #65
It's a bit clearer to me now:
- MP4 give the expected result using the right colors
- GIF lose colors

This is, however, kind of expected as I've lowered the color size of gives. However, now that GitHub supports MP4, I don't have to be too strict with GIF sizing anymore and I can increase the number of colors in GIFs. I'll see if that works.

[2021-01-01 16:54] AvdLee commented on #65
So, the reason this is happening is that converting alpha layers into a GIF seems hard. I've not found a solution yet but it's likely alpha layers that turn wrong here. I'll see if I can do anything about this.

[2021-01-01 17:38] atrinh0 commented on #65
Thank you for looking into this. 🙏🏻

Just in case it helps, I have modified my code to move away from alpha/opacity to make the colors lighter programmatically. The results are the same. 🧐

https://github.com/atrinh0/scrumdinger/commit/48853ddb23ff3bd855dc1aaac57930b7b53dd665

https://user-images.githubusercontent.com/16542463/103443502-c4a5d480-4c57-11eb-8711-4133fd98a55f.mp4

![RocketSim Recordi

[2021-01-01 18:47] crabucate commented on #67
I changed the folder. Now it works. Thank you!

[2021-01-01 18:47] #67 closed

[2021-01-02 16:46] AvdLee commented on #65
Interesting! I've found out that most of the conversion works, colors are great in-between frames, until I use `CGImageDestinationAddImage` to add it to a GIF destination.

This thread seems related: https://stackoverflow.com/questions/44960714/ios-colors-incorrect-when-saving-animated-gif

In other words; it seems like the colors are good until I add them to a GIF destination. I'll continue my jo

[2021-01-03 14:26] AvdLee commented on #65
The easiest fix turned out to be to lower the size of the GIF itself to allow it to contain more colors. This is the final result which seems acceptable to me.

![image](https://user-images.githubusercontent.com/4329185/103480945-f34ab900-4dd7-11eb-9905-9d33ae021324.png)

I'll think about adding a setting in the future for more control.

Either way, fixed in the next version!

[2021-01-03 14:26] #65 closed

[2021-01-03 14:36] AvdLee commented on #64
Confirmed this issue, we're not respecting https://help.apple.com/app-store-connect/?lang=en/#/dev4e413fcb8 for every simulator. Working on a fix now!

[2021-01-03 14:54] AvdLee commented on #64
This is fixed in the next release.

[2021-01-03 14:54] #64 closed

[2021-01-03 14:56] AvdLee commented on #64
![image](https://user-images.githubusercontent.com/4329185/103481586-3dce3480-4ddc-11eb-8900-ad78a34bc629.png)

[2021-01-03 15:02] AvdLee commented on #66
This is likely just fine, I've looked at the logic and the copy is shown when a user purchased RocketSim before. Or actually, when the `latestExpirationDate` can't be fetched which should indicate an early purchase.

Either way, an update mechanism wasn't in place to update the label so that might have caused it too. Closing for now.

[2021-01-03 15:02] #66 closed

[2021-01-04 09:35] AvdLee commented on #8
@massimobio yeah, thanks for pointing that out! I've had it on my list to try out, indeed. I wonder whether I can make this work without the need of any user audio adjustment. Also, I would prefer to record audio from the simulator only, not also from any other app causing sounds 🤔

It's not an easy one to tackle. Ideally, I would be able to record sound from a specific window.

[2021-01-09 16:46] AvdLee commented on #63
This is fixed in the upcoming release!

[2021-01-09 16:46] #63 closed

[2021-01-09 16:52] AvdLee opened #68 "Update App Icon for Big Sur"
Although the App Icon doesn't show up often in the dock, this would be nice.

[2021-01-10 13:58] AvdLee commented on #59
This is fixed in the next release but only works when auto-hiding is off.

[2021-01-10 13:58] #59 closed

[2021-01-11 08:20] AvdLee commented on #68
This is fixed!

[2021-01-11 08:20] #68 closed

[2021-01-11 13:09] AvdLee opened #69 "Login for App Store is asked on every launch"
- Relaunch your Mac
- See that the login screen is prompted

[2021-01-11 20:04] rramirez-dev opened #70 "Popup view does not display correctly when using CrossDissolve transition"
**Describe the bug**
When displaying a popup view using a CrossDissolve transition the popup box appears translucent.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the GitHub Follower app from https://github.com/rramirez-dev/GitHub-Followers
2. Build and Launch the app in the iPhone 12 Pro Simulator
3. Start a RocketSim recording
4. Open the app and search for a GitHub user
5. Select

[2021-01-12 15:09] AvdLee opened #71 "Recording is done in Landscape instead of Portrait"

[2021-01-14 21:52] brunodelgado commented on #69
A small addition to this issue: I also have to restore purchase to become pro again every time I restart my Mac.

[2021-01-15 08:33] AvdLee commented on #69
@brunodelgado yeah, that's definitely related to this. I'm hoping to get started fixing this soon!

[2021-01-15 13:58] brunodelgado commented on #69
Great!
I'm a big fan of this project, excelent work. 🏆

[2021-01-17 14:35] AvdLee commented on #71
This is fixed in the upcoming release

[2021-01-17 14:36] #71 closed

[2021-01-17 14:44] AvdLee commented on #69
I have a hard time finding out the cause of this. I've added extra logging in a minor update which will help me take the next steps in the following release.

[2021-01-17 14:58] AvdLee commented on #70
@rramirez-dev can you share the result of making a recording using `xcrun simctl io recordVideo booted test.mp4` from the terminal? It helps me debug this issue.

[2021-01-17 19:11] rramirez-dev commented on #70
I get an "Invalid device: recordVideo" error

[2021-01-17 19:31] rramirez-dev commented on #70
There were no results in the terminal

[2021-01-18 08:39] AvdLee commented on #70
@rramirez-dev can you try again using:

[code]

You should see:

[code]

after which you can play around with your app. To end the recording, press ctrl+C

[2021-01-18 16:14] rramirez-dev commented on #70
I did see "Recording Started" and it did create an test.mp4. When I said that I didn't see any output, I was talking about errors.

[2021-01-19 03:29] laevandus opened #72 "Dedicated GPU is required"
**Describe the bug**
I made some recordings and now Activity Monitor's Energy tab reports that RocketSim requires dedicated GPU.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch RocketSim 3.2.1 (40) and have a simulator open
2. Click on start recording
3. Stop recording
Since now on, RocketSim requires dedicated GPU (which increases battery usage). That is probably what we do not want.

[2021-01-19 10:32] AvdLee commented on #70
@rramirez-dev alright, awesome. The only thing I need is for you to share that `test.mp4` here in this thread so I can compare it to the RocketSim recording 🙂

[2021-01-19 10:34] AvdLee commented on #72
I would assume the same so I need to look into this. I might have some retain cycles causing issues.
Thanks for the report!

[2021-01-19 11:02] laevandus commented on #72
Not a really big deal but something to improve in the future. Otherwise it is really convenient tool to have.

[2021-01-19 12:17] kristiyandobrev opened #73 "Deeplinks list order is randomized"
**Describe the bug**
Deeplinks list order is randomized every time I open the app from the menu bar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MacOS menu bar
2. Click on 'RocketSim
3. Select an app (observe the deeplinks order)
4. Repeat the previous 3 steps
4. The deeplinks order is different compared to the previous time.

**Expected behavior**
I would say that the most logical

[2021-01-19 13:10] AvdLee opened #74 "Re-run latest executes infinitely"
Not sure if it's reproducible but the re-run latest shortcut runs again and again 🤔

[2021-01-19 14:36] AvdLee opened #75 "Optimise video compression to share on GitHub"
There's a 10MB limit on GitHub.

[2021-01-19 19:13] rramirez-dev commented on #70
Here is the test.mp4
https://user-images.githubusercontent.com/22773854/105081621-a578b680-5a4f-11eb-9c80-f409968ed00b.mp4

[2021-01-20 09:43] AvdLee commented on #70
@rramirez-dev the video doesn't work for me 🤔  Does it work for you?

[2021-01-22 05:28] rramirez-dev commented on #70
Yes. the video work for me.

[2021-01-22 07:54] AvdLee commented on #70
@rramirez-dev I only get a black screen when clicking the link. Can you make it embed just like you did with your original post videos?

[2021-01-22 15:09] rramirez-dev commented on #70
https://user-images.githubusercontent.com/22773854/105508013-19ea6a00-5c89-11eb-92dd-71d4426aa89f.mp4

[2021-01-25 10:37] AvdLee commented on #70
![image](https://user-images.githubusercontent.com/4329185/105694865-b74fd300-5f01-11eb-9de4-29ebb808bf20.png)

The video is still not working, unfortunately.

[2021-01-26 04:01] rramirez-dev commented on #70
The video only works in Safari. I tried tp play it in Chrome and Firefox and got the same error you did.

[2021-01-26 16:25] djavan-tagheuer opened #76 "Error when recording Watch Simulator"
**Describe the bug**
Unable to record Apple Watch simulator

**To Reproduce**
Steps to reproduce the behavior:
1. Open an Apple Watch Simulator
2. Start recording
3. An error saying that Recording has failed and that I need to check my Command Line Tools version.

**Expected behavior**
Recording should (and did) work on a Watch simulator

**Screenshots**
<img width="348" alt="Screenshot 2021-01-26

[2021-01-27 09:57] AvdLee commented on #70
Alright, great that works indeed.

I miss the desktop information in the issue, which helps me to reproduce this locally.
- Which Xcode version did you use?
- Which Mac version did you use?
- Which RocketSim version did you use?

[2021-01-27 10:02] AvdLee commented on #76
Thanks for the report, @djavan-tagheuer. So far, I haven't added support for recording on the watch, or Apple TV. Only iPhone and iPad are supported.

I'll see if I can add this in the future.

_Upvote this comment if you're interested in this feature too_

[2021-01-27 10:14] matsmats opened #77 "Can not save recordings"
I start the recording and stops it.
The Save or Copy dialog is shown.
I choose Save, the dialog is gone but there is no recording in the chosen file location.
I have restarted the RocketSim app.
I have updated the location where to save the files.

 - OS: macOS BigSur Version 11.1
 - RocketSim version: 3.2.1 (40)

[2021-01-27 10:16] DeveloperMaris opened #78 "Deep links convert # to %23"
**Describe the bug**
All deep links, which contains the # symbol (for the url fragment) is encoded as _%23_, and that actually makes the URL not work correctly.

**To Reproduce**
Precondition:
1. Dynamic Links are provided with `apple-app-site-association` configuration like this:
[code]
2. App associated domains configuration:
[code]
_developer mode is optional_

Steps to reproduce the behavior:

[2021-01-27 13:05] djavan-tagheuer commented on #76
It's weird, I'm sure I've recorded the watch a few month ago with RocketSim.
Thanks for your feedback. Having the Watch supported would be great!

[2021-01-27 15:10] AvdLee commented on #77
Thanks for reaching out @matsmats! Can you email me a diagnostics report? There's a button in the 'general' settings page at the bottom.

It would help me solve this more quickly!

[2021-01-27 15:11] AvdLee commented on #78
A typical encoding issue which should be easy to fix. Thanks for reaching out!

[2021-01-27 15:12] AvdLee commented on #76
@djavan-tagheuer that could definitely be true! I've updated the code and optimized it in one of the last releases. One thing I did is filtering out those devices as I don't support them.

It does make me realize it might actually be simple to support them so I'll see what I can do!

[2021-01-27 15:22] matsmats commented on #77
I have pressed the Send Diagnostics button, but I am not sure what it does. Google Chrome flashes and then I am back to the settings view. Have you received an email? I am not using any built in mail app.

[2021-01-27 20:48] rramirez-dev commented on #70
Xcode Version 12.3 (12C33)
Catalina Version 10.15.7
RocketSim Version 3.2.1(40)

[2021-01-28 08:24] AvdLee commented on #77
Ah, damn, I think I don't support custom mail apps yet! That's too bad.
It should normally open up the email composer with the diagnostics report attached.

I do need it to take next steps as this feature is currently working on my own machine running the same setup 🤔

[2021-01-28 12:35] matsmats commented on #77
I have got hold of the report and sent an email.

[2021-01-30 14:00] pdamonkey opened #79 "Keyboard shortcut not working correctly"
When using the keyboard shortcut it started the recording, however using it again restarted the timer rather than stopping the recording. Even when manually stopping after this, a tuner was still counting in the menu bar.

[2021-01-30 14:03] pdamonkey opened #80 "Add bezel to recordings"
Having the option to apply a relevant bezel to the recordings could make the output look more realistic.

[2021-01-30 16:36] AvdLee commented on #80
That would be pretty cool indeed! I'll think more about this 🙂

[2021-01-30 16:37] AvdLee commented on #79
Ah, damn! That I didn't think of this, haha. Great point!

[2021-01-31 12:50] AvdLee commented on #69
Finally found [the cause](https://github.com/codykerns/PurchasesHelper/commit/4239afb49fd287d346c46610d5c6c3141a22b58a#diff-25e2732643b4f1b121ea8622f2f77fbfe4ae71727b94c882f137ed770d683308).

My code is heavily inspired on the above one and this seems to be exactly the issue. Fixed in the next release!

[2021-01-31 12:50] #69 closed

[2021-01-31 13:02] AvdLee commented on #74
Fixed in the next release.

[2021-01-31 13:02] #74 closed

[2021-01-31 13:02] AvdLee commented on #79
Fixed in the next release.

[2021-01-31 13:02] #79 closed

[2021-01-31 13:21] AvdLee commented on #78
Thanks again for the detailed report. This is fixed in the next release.

[2021-01-31 13:21] #78 closed

[2021-01-31 13:26] AvdLee commented on #73
The order can be changed by drag and drop. There was, however, no backup order which I now updated to use alphabetical order. This is fixed in the next release.

[2021-01-31 13:27] #73 closed

[2021-01-31 13:48] AvdLee commented on #76
This is fixed in the next release.

[2021-01-31 13:48] #76 closed

[2021-01-31 14:12] AvdLee commented on #72
I have improved a bit of code and like to close this issue as "fixed in the next release", which will be 3.2.2.

[2021-01-31 14:12] #72 closed

[2021-01-31 14:13] AvdLee commented on #70
I've improved the frame rate of GIFs which is the only thing I can do to improve for this issue. Will be released with 3.2.2

[2021-01-31 14:13] #70 closed

[2021-01-31 14:36] AvdLee commented on #77
This will be fixed in 3.2.2

[2021-01-31 14:36] #77 closed

[2021-01-31 14:36] AvdLee commented on #57
This will be fixed in 3.2.2

[2021-01-31 14:36] #57 closed

[2021-02-01 08:15] laevandus commented on #72
Cool, thanks for looking into this.

[2021-02-01 16:44] AvdLee commented on #80
It's requested here too but for screenshots: https://developer.apple.com/forums/thread/131139?page=2

[2021-02-01 22:05] mac-cain13 opened #81 "Delete deeplink group button nearly invisible"
**Describe the bug**
When in the Deeplinks settings screen I can't see a delete button for the groups next to the `+` to add a group. There is a tiny '-' that I can click, but I seriously thought it was dust on my monitor at first.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences...' -> 'Deeplinks' tab
2. Next to the '+' button to create a group is the remove button is near

[2021-02-01 22:19] mac-cain13 opened #82 "Deeplink groups sorting messes up sometimes"
**Describe the bug**
The sorting in of the deeplink groups in preferences is sometimes incorrect. Resulting in another group name selected in the left (master) pane than is visible in the right (detail) pane.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences...' -> 'Deeplinks'
2. Hit '+' 2 times (so you have "Group 0" and "Group 1"
3. Rename "Group 0" to "Group 2" (hit enter

[2021-02-02 09:31] AvdLee commented on #81
@mac-cain13 oops! Thanks for reporting in!

[2021-02-02 09:32] AvdLee commented on #82
Ai, great find! And thanks for the recording, that helps a lot. I'll fix this in the next release.

[2021-02-04 11:11] Ariandr commented on #17
I'm looking forward to this feature!

[2021-02-04 11:59] AvdLee commented on #17
@Ariandr I can tell you that I got a prototype running locally already so it's coming for sure, maybe soon 😎

[2021-02-09 16:46] AvdLee opened #83 "Settings could result in a crash on Catalina"
I received a report of RocketSim crashing when opening settings.

[2021-02-15 19:28] AvdLee commented on #83
Fixed!

[2021-02-15 19:28] #83 closed

[2021-02-17 12:39] Ariandr opened #84 "Artifacts and loss of color when saving recorded videos as MP4"
**Describe the bug**
When saving recording in MP4 format there are artifacts. Also, in many cases videos become Black and White.
When saving as a GIF, colors are preserved.

**Expected behavior**
No artifacts and loss of color

**Screenshots**
Here is the issue with artifacts (MP4):
https://user-images.githubusercontent.com/13591333/108205401-b0496880-712d-11eb-84df-e07aec0e705e.mp4
<img width="36

[2021-02-17 12:46] Ariandr commented on #84
I can provide more examples, the more colorful application, the more noticeable issues become.

[2021-02-17 13:01] Ariandr opened #85 "Hight CPU usage when the tool isn't doing any work"
**Describe the bug**
After recording several videos, I stopped using the app, but its CPU utilization was high.

**To Reproduce**
Launch RocketSim, record simulator screen, save as MP4 and GIF, leave the app to be in top tray.

**Expected behavior**
App shouldn't use so much of CPU time.

**Screenshots**
<img width="800" alt="Screenshot at Feb 17 14-53-14" src="https://user-images.githubuserconten

[2021-02-18 08:26] AvdLee commented on #84
So if I understand correctly the white is turning in green? 😮

That's not good. I'll definitely need some different exporting settings!

[2021-02-18 08:28] AvdLee commented on #85
You're not the first to report this. I thought I fixed it but I clearly didn't! Must be something with retaining processes or exporting logic.

I'll have a look, thanks for the issue!

[2021-02-18 12:10] Ariandr commented on #84
@AvdLee
I found that the middle portion of the screen turns into whatever color the top/bottom parts are.
That's why when top and bottom are white, the video becomes black and white.

[2021-02-19 09:24] djavan-tagheuer opened #86 "Watch records duration is doubled"
**Describe the bug**
A video record of a watch simulator has a duration that is twice the real one

**To Reproduce**
Steps to reproduce the behavior:
1. Start a record of the Apple Watch simulator
2. Stop it after a minute
3. Save the video
4. Open the video
=> The video's duration is 2 minutes,

**Expected behavior**
You expect to see a one minute video.

**Desktop (please complete the following

[2021-02-19 09:33] djavan-tagheuer commented on #86
Little precisions
- in fact, after the normal duration we have the last frame for the whole duration
- does not apply to a 15s video

Here is an example of the video:

https://user-images.githubusercontent.com/43636702/108485998-daba3380-729d-11eb-8cf6-ccb3c9ce12b9.mp4

[2021-02-21 15:00] AvdLee commented on #81
Fixed in the next release!

[2021-02-21 15:00] #81 closed

[2021-02-21 15:21] AvdLee commented on #85
I had some classic non-weak delegate retain cycles. This should be fixed in the next release!

[2021-02-21 15:21] #85 closed

[2021-02-21 15:27] AvdLee commented on #86
@djavan-tagheuer thanks for reporting in. Can you try to see whether the same issue occurs when using:

`xcrun simctl io booted recordvideo test.mp4`

From the terminal?

[2021-02-23 08:25] rajavijayaraman opened #87 "tvOS recording not working"
**Describe the bug**
tvOS recording not working. When simulator is open and pressing "Start Recording" does nothing.

**Screenshots**
https://user-images.githubusercontent.com/1236717/108817146-753baf00-75dd-11eb-9600-b89237c77d38.mov

**Desktop**
tvOS Version 14.3
macOS Version 11.2.1

[2021-02-24 11:30] Ariandr opened #88 "High CPU usage after saving as a GIF"
**Describe the bug**
That's the second bug similar to https://github.com/AvdLee/RocketSimApp/issues/85

**To Reproduce**
Steps to reproduce the behavior:
1. Launch RocketSim v.3.4.2
2. Record video of any duration, e.g. 4 seconds
3. Stop recording
4. Switch from MP4 format to GIF in the small window
5. Save the final GIF

**Expected behavior**
After that, the app shouldn't utilize much of CPU. But

[2021-02-26 08:04] AvdLee commented on #88
@Ariandr thanks for reporting in again! Although it shouldn't hit 100% at all, do you know if it goes away after a while? It helps me debug this 🙂

[2021-02-28 10:48] Ariandr commented on #88
@AvdLee
In this case it didn't go away after 20 minutes of being there, I specifically didn't close the app to check if it went away.

[2021-03-06 09:32] AvdLee commented on #88
Thanks again, I found the cause! It's fixed in the next release.

[2021-03-06 09:32] #88 closed

[2021-03-06 12:19] AvdLee commented on #86
Nevermind, found the cause. Will be fixed in the next release!

[2021-03-06 12:19] #86 closed

[2021-03-06 12:33] AvdLee commented on #23
Done!

[2021-03-06 12:33] #23 closed

[2021-03-06 12:33] AvdLee commented on #17
This is coming in RocketSim 4.0!

[2021-03-06 12:33] #17 closed

[2021-03-06 12:34] AvdLee commented on #1
This is no longer needed!

[2021-03-06 12:34] #1 closed

[2021-03-08 07:36] AvdLee commented on #26
Another helpful source: http://conradstoll.com/blog/2021/2/26/adding-services-to-grocery-for-mac-with-catalyst-and-appkit

[2021-03-12 10:05] dhf opened #89 "How to buy the Lifetime Version (as stated in the MacAppStore)?"
In the Appstore In-App Purchase descriptions there is stated a "RocketSim Lifefime" option. How can i buy this Lifetime Option?

Steps to reproduce the behavior:
1. Go to Settings -> Pro
2. No "Lifetime" Option is visible, only monthly and yearly subscription

Lifetime Option as stated in the Mac Appstore
<img width="565" alt="image" src="https://user-images.githubusercontent.com/4035583/110924732

[2021-03-12 21:13] pdxplaid opened #90 "Records in Portrait even though iPad (8th Generation) simulator is in Landscape"
**Describe the bug**
if the iPad simulator is in landscape and I press record, the video comes out in portrait mode and has to be rotated using quicktime after the fact.

**To Reproduce**
Steps to reproduce the behavior:
1. open something in the iPad (8th Generation) simulator
2. rotate the simulator to landscape
3. press record in RocketSim
4. record for some time - a couple of seconds will do
5.

[2021-03-12 22:59] DKalachniuk opened #91 "Recording is not working on Big Sur 11.0.1 after the latest update"
**Describe the bug**
I'm clicking start recording but it is not happening

**To Reproduce**
Big Sur 11.0.1
Latest version of the app
Just click start recording button
**Expected behavior**
Recording will start

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: 11.0.1

**Additional context**
Add any other co

[2021-03-14 11:24] getbiks commented on #91
Yup. I am using xcode 11.6 and Big Sur 11.1
When I click on record, nothing happens. I have given recording permission to the application.

System Specs:
MacBook Pro (Retina, 15-inch, Mid 2014)
2.5 GHz Quad-Core Intel Core i7
16 GB 1600 MHz DDR3

[2021-03-15 08:23] AvdLee commented on #89
@dhf thanks for reaching out. Unfortunately, Lifetime is no longer available from within the app and will be removed from that listing too.

[2021-03-15 08:23] #89 closed

[2021-03-15 08:24] AvdLee commented on #90
@pdxplaid thanks for reaching out! Which version of RocketSim are you using?

[2021-03-15 08:26] AvdLee commented on #91
@DKalachniuk which version of Xcode are you using?

Unfortunately, I've had to introduce a fix earlier which requires Xcode 12.3 and up. @getbiks I'm pretty sure that's the issue in your case.

[2021-03-15 08:28] getbiks commented on #91
Yup.. I am using Xcode 11.6. I will try with Xcode 12.3+
Thanks.

[2021-03-15 08:29] DKalachniuk commented on #91
Indeed, I have Xcode 12.2. Thanks

[2021-03-16 07:46] AvdLee commented on #91
Alright, great! Closing this as resolved but feel free to reopen if it didn't work.

Sorry for the inconvenience; Xcode 12.4 introduced a way to improve the recordings in such way I wanted to completely depent on it as it will be better long-term!

[2021-03-16 07:46] #91 closed

[2021-03-16 16:49] pdxplaid commented on #90
3.4.3

i'm happy to send you diagnostics if that'll help any.

thanks
--->PAul

[2021-03-17 07:41] AvdLee opened #92 "Add the ability to hide the slider"
As requested on [Twitter](https://twitter.com/valross2/status/1372085243788820480?s=20), it would be nice to hide the slider. Maybe we can only show it on hover 🤔

[2021-03-17 08:27] AvdLee commented on #90
@pdxplaid yes, please. That would definitely help!

[2021-03-17 12:34] BenjiMandel commented on #92
maybe something for the settings. (hover/always shown)

[2021-03-18 16:46] AvdLee commented on #90
This is fixed in the upcoming release! Thanks for reporting 🙂

[2021-03-18 17:55] pdxplaid commented on #90
Perfect! Thanks!

[2021-03-19 08:08] matsmats opened #93 "Possibility to hide the new Start recording and Drop an image views"
I would like to be able to hide the new Start recording and Drop an image views from the preferences.

I will not use the Drop image view so I would like to hide it.

[2021-03-19 09:35] AvdLee commented on #93
Makes total sense! This is high on my list to fix in an upcoming update.

[2021-03-19 10:06] matsmats commented on #93
May I ask what the Touches and Remove Watermark do in the Start Recording view? I can not click on anything, should I be able to that?

[2021-03-19 11:39] Devepre opened #94 "App screen(s) are hidden by simulator after rotate"
**Describe the bug**
App screen(s) are hidden by simulator after rotate of simulator from portrait to landscape.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch simulator of your choice in portrait mode.
2. Rotate simulator to landscape mode.
3. Observe simulator screen overlaps RocketSim screen(s).

**Expected behavior**
RocketSim screen(s) should be visible.

**Screenshots**
![Portr

[2021-03-20 13:43] AvdLee commented on #94
@Devepre thanks for the awesome bug report, really appreciate the effort you did here! In return, I've fixed this directly and you can expect it in an update early this week.

[2021-03-20 13:43] #94 closed

[2021-03-20 13:45] AvdLee commented on #93
@matsmats if you're pro, you can use these settings to show touches in the recording and remove the watermark label in the exported video. You can read more about it here: https://www.avanderlee.com/workflow/rocketsim-comparing-designs/

The upcoming update will contain a fix for this!

![image](https://user-images.githubusercontent.com/4329185/111871525-dc554500-898a-11eb-9e9d-eb9d3762f642.png)

[2021-03-20 13:45] #93 closed

[2021-03-20 13:45] #90 closed

[2021-03-20 19:33] matsmats commented on #93
I am a PRO but I have only question marks in the view as you see in the image

![Screenshot 2021-03-20 at 20 32 41](https://user-images.githubusercontent.com/1843153/111883421-79c86d00-89bb-11eb-87bc-03d4d96ec914.png)

[2021-03-22 08:34] AvdLee commented on #93
Yes, these are fixed in the upcoming release, currently in review. Once that version is out, it will make more sense as checkmarks show up! 🙂

[2021-03-23 17:48] tiarnann opened #95 "Can't start recording"
**Describe the bug**
Recording is not working at all. I hit "Start Recording" in status bar and recording does not start. Even in the latest version of RocketSim if I hit "Start Recording" in floating panel it does not work either.

**To Reproduce**
I don't have any steps to reproduce as it does not happen on my other Macbook. I've added all version information below with as much additional info a

[2021-03-23 22:48] BenjiMandel opened #96 "Timer for starting/stopping the recording"
**Is your feature request related to a problem? Please describe.**
The feature request I have will fix the problem of making promo videos for the app store too long. The limit is(as far as I remember) 30 seconds.
Also, sometimes the part you want to record will only come after a few clicks, so a timer so that the recording will start in X seconds would be nice too

**Describe the solution you'd li

[2021-03-24 09:21] AvdLee commented on #95
@tiarnann thanks for reporting! This is a known issue, Xcode 12.4 or up is required for recording. I'm still looking into ways for making that more clear.

Xcode 12.4 sends out a message when recording is started which is needed for RocketSim.

For my understanding, why aren't you updated to Xcode 12.4? It might give me reason to add support to Xcode 12, which I don't have right now.

[2021-03-24 09:22] AvdLee commented on #96
Would this be solved if you were able to trim the video afterwards?

[2021-03-24 09:41] BenjiMandel commented on #96
Yes, that could also be a good fix.

I do think an option for a timer with the app store length limit could he good aside to the trim feature.

[2021-03-24 13:32] Ariandr opened #97 "The app crashes/closes after opening a deeplink from the top item "Open ...."."
**Describe the bug**
The app crashes/closes after opening a deeplink from the top item "Open ....".

**To Reproduce**
1. Open RocketSim
2. Copy a link into pasteboard
3. Click "Open ..."
4. Deeplink opens, RocketSim closes

**Expected behavior**
RocketSim should stay open

**Screenshots**
<img width="254" alt="Screenshot at Mar 24 15-31-02" src="https://user-images.githubusercontent.com/13591333/1

[2021-03-24 17:43] tiarnann commented on #95
Oh that's super surprising. Has this always been the case? I think I've used RocketSim with this version of Xcode nearly 100 times already

This is my work machine and we don't immediately upgrade to the latest version of Xcode as there are typically some hiccups along the way.

[2021-03-25 07:37] AvdLee commented on #96
I'm closing this in favor of the trim functionality. Automatically trimming might result in losing valuable recording content, so I rather make that a manual process.

[2021-03-25 07:37] #96 closed

[2021-03-25 07:42] AvdLee commented on #95
Definitely not. In fact, I _can_ make it work with older Xcode versions but I figured there isn't really a reason for developers to stay on Xcode < 12.4 as they can upgrade to 12.4 without issues (afaik). So I decided to rather optimise the recording behavior.

I'll keep this issue open for others if they run into this, but it's not a priority for me to add backwards compatibility as this will be

[2021-03-25 10:55] tiarnann commented on #95
Gotcha! Sounds good.

In my opinion, it would be beneficial to communicate this to the user. When a selected Xcode version is not supported, I think adding a ⛔️ flag to the settings would help. Also displaying an alert when the user tries to start recording using an unsupported Xcode version.

[2021-03-25 16:19] handsoffred commented on #31
Is this a slack setting the user can change?

[2021-03-26 07:23] AvdLee commented on #95
@tiarnann makes total sense! I'll see what I can do 🙂

[2021-03-26 07:23] AvdLee commented on #31
@handsoffred this had to do with the internal settings in RocketSim. Is there anything not working for you?

[2021-03-26 18:12] handsoffred commented on #31
yes, in Slack but not in RocketSim, sorry. I get a greenscreen when I post
MP4 videos but other team members see it fine. Based on the comments here
I'm going to try different encoding.

On Fri, Mar 26, 2021 at 12:24 AM Antoine van der Lee <
***@***.***> wrote:

[2021-03-31 01:14] pdxplaid commented on #90
:) today I noticed that in version 4.0.2 on my Mac m1 mini, when the iPad (8th Generation) simulator is in landscape with the home button on the right side, the video comes out upside down!!! when the home button is on the left side, the video comes out fine... So the bug is not completely fixed, but it's closer. at least it's recording in landscape...

[2021-03-31 08:45] AvdLee commented on #90
@pdxplaid Yes, I'm very aware of that problem! Unfortunately, I can't read out landscapeLeft or landscapeRight. Therefore, this issue is very hard to fix.

I hope you can use that workaround!

[2021-03-31 15:03] pdxplaid commented on #90
no worries! I can flip the simulator into the right direction when I need to record. I love rocket sim, and I find most of your posts very useful (when they aren't way over my head!). Learning Swift is fun/hard. :)

Thanks!
--->PAul

[2021-04-01 16:14] xyreryp commented on #95
Hey @AvdLee I am on Xcode 12.2 and Catalina. Before updating to version 4.0.2(52), it worked just fine. But I updated RocketSim yesterday and the recording functionality stops working

[2021-04-06 08:58] AvdLee commented on #95
@xyreryp yeah, indeed! It confirms what we discuss in this issue. Let me know if it didn't work after updating Xcode! 🙂

[2021-04-09 23:54] nickm01 opened #98 "Can't see the floating window in 4.0.2"
**Describe the bug**
Can't see the floating window that is discussed here: https://www.avanderlee.com/workflow/rocketsim-comparing-designs/

**To Reproduce**
1. Set "floating windows" to "on" in the drop down menu

**Expected behavior**
Expect to see the floating windows

**Screenshots**
![image](https://user-images.githubusercontent.com/1801782/114250943-332fb800-9954-11eb-8e99-9be288cde44e.png)

[2021-04-10 12:06] AvdLee commented on #98
@nickm01 that's very unfortunate. Would you mind sharing me a diagnostics report from the settings?

[2021-04-10 12:07] AvdLee commented on #97
This will be fixed in 4.1.0

[2021-04-10 12:07] #97 closed

[2021-04-10 12:07] AvdLee commented on #92
Implemented in 4.1.0

[2021-04-10 12:07] #92 closed

[2021-04-10 12:07] AvdLee commented on #82
This should be fixed in 4.1.0

[2021-04-10 12:07] #82 closed

[2021-04-10 12:08] AvdLee commented on #95
Closing this as an update of Xcode will fix this automatically.

[2021-04-10 12:08] #95 closed

[2021-04-10 14:33] AvdLee commented on #29
This will be added in 4.1.1

[2021-04-10 14:33] #29 closed

[2021-04-10 14:34] AvdLee commented on #46
This is hard as Twitter does not easily allow uploading videos. It would mean creating a whole custom UI, which is not priority

[2021-04-10 14:34] #46 closed

[2021-04-11 11:57] AvdLee opened #99 "Remove spaces from export filename for better GitHub support"
See: https://twitter.com/nigelgee/status/1381061137278586885?s=11

[2021-04-12 12:41] rubenvde opened #100 "Can't see the floating window next to custom simulator instances"
**Describe the bug**
When I open a customised instance of an iOS simulator the floating window of the RocketSimApp doesn't stick to it/ doesn't appear. This bug only seems to happen when you create a custom iOS simulator. It may be related to #98 but I wasn't sure.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Xcode
2. Open a project
3. Click on the dropdown menu to select a simulato

[2021-04-13 09:05] AvdLee commented on #100
@rubenvde this is indeed due to the custom name of the Simulator. Unfortuantely, due to sandbox restrictions on macOS, RocketSim relies on the window name of the open Simulator.

As we can't map the name back to the device, we don't know where to position the floating window and it wont show up.

Therefore, I'm closing this as won't fix. You can solve this by using the regular names of Simulators.

[2021-04-13 09:05] #100 closed

[2021-04-17 22:47] fmartinsrr commented on #84
Is there any news about this issue? I would like to use the videos on the App Store but since the colors are not accurate I cannot use them.
Would be possible for you to switch to another codec or update the lib? Or is there something I can try on my side?
In attachment, I have added a screenshot of the app and the video recorded with RocketSim.

https://user-images.githubusercontent.com/53081877/

[2021-04-17 22:51] filipemsmartins commented on #84
Is there any news about this issue? I would like to use the videos on the App Store but since the colors are not accurate I cannot use them.
Would be possible for you to switch to another codec or update the lib? Or is there something I can try on my side?
In attachment, I have added a screenshot of the app and the video recorded with RocketSim.

Rocket sim output video
https://user-images.githubu

[2021-04-19 07:48] AvdLee commented on #84
@filipemsmartins this is very unfortunate! This issue is not consistently happening and, therefore, hard to reproduce on my side. I can't switch codecs easily because of restrictions in ASC and availabilities in the Swift APIs I'm using.

I do plan to rewrite the exporting logic to be both more performant and better in exporting. However, this means rewriting from high-level APIs to low-level APIs

[2021-04-19 08:29] filipemsmartins commented on #84
@AvdLee thanks for your reply. When recording through that Xcode command I do get the same results. But then I try without specifying the codec and the output was ok.
So, to have the record correctly the command I have used was:
`xcrun simctl io booted recordVideo output.mov`

Btw, I am running BigSur 11.2.3, Xcode 12.4, on simulator iPhone 12 Pro Max with iOS 14.4

[2021-04-19 09:52] AvdLee commented on #84
@filipemsmartins alright, that's very valuable feedback! I should reconsider using `h264` in that case. I'll see what I can do! If it's working just as fine, I'll just reset that codec to the default.

[2021-04-19 09:59] filipemsmartins commented on #84
@AvdLee I am glad I could help. Since this appears to be a bug on the Xcode utils, I would suggest adding an option on the RocketSim preferences to disable\enable the h264 codec. That way for users not experiencing this issue could still use that codec.

[2021-04-20 08:40] AvdLee commented on #84
Obviously, I've been thinking about this. However, it makes it harder for me to maintain RocketSim, as it comes with extra scenarios and possibilities.

In the end, if setting it to non-`h264` fixes this and also makes everything else work, I don't think there's a need for anyone to change the codec

[2021-04-21 16:22] AvdLee commented on #84
Turned out that HEVC works fine as well! So if that solves the above issue, it should be fine. Submitting now, will be available later this week in the 4.1.2 update. Please, let me know when this issue returns!

[2021-04-21 16:22] #84 closed

[2021-04-22 16:40] djavan-tagheuer commented on #86
Hey I'm really sorry I did not receive any notification about your request.
But I can confirm it is fixed ! Thanks a lot ! 💪

[2021-04-22 17:02] djavan-tagheuer opened #101 "Show touches in recordings does not seem to work"
**Describe the bug**
The show touches in recordings does not seem to work: we can't see the touches in the video.

**To Reproduce**
1. Enable the "Show touches in recording" param
2. Record a video where you perform some clicks and touches on the simulator
=> Touches (and pan moves) are not visible in the video

**Expected behavior**
For what I understand of this feature, the touches should be dis

[2021-04-23 08:16] AvdLee commented on #101
@djavan-tagheuer so, if I understand correctly, you can see the touches in the simulator during the recording, but the touches aren't visible in the output video. Is that correct?

Would you mind sharing me a diagnostics report from the settings about page?

[2021-04-26 14:34] djavan-tagheuer commented on #101
Hi @AvdLee .
I pressed the `Send Diagnostics` button. Nothing happened, I hope you received it 😉

[2021-04-28 08:40] AvdLee commented on #101
Ah, it's built around the default Mac Mail app. Am I right you don't use Mac Mail? It should open a email compose window to send the attachments.

[2021-04-28 09:01] djavan-tagheuer commented on #101
I'm using the default Mac Mail app. I'll try to reboot, to see if this changes anything 🤷‍♂️

[2021-04-28 09:20] djavan-tagheuer commented on #101
After reboot, sending the Diagnostics works. However, touches record still does not work.
I've updated Xcode in between, so I tested it first on Simulator 12.4 and now on Simulator 12.5.

[2021-04-29 09:17] dansimau opened #102 "Ability to change floating window position"
After I installed RocketSim (4.1.2 build 60), I was working on my app the next day and I saw part of a panel off the end of the screen. I thought maybe it was a hidden menu because I'd just updated to Xcode 12.5. Then I realised it was RocketSim.

<img width="490" alt="Screenshot 2021-04-29 at 11 09 49" src="https://user-images.githubusercontent.com/203031/116528593-4d6a0f80-a8dc-11eb-8496-e8f626a

[2021-05-03 07:45] AvdLee commented on #102
@dansimau this makes total sense and should be relatively easy to fix. I'll add it to the roadmap!

[2021-05-03 07:46] AvdLee commented on #101
I received your Diagnostics Report. I'll schedule seeing whether I can find the fix for this 🙂

[2021-05-06 12:19] Thomvis commented on #84
Using 4.1.2 still gives me not so great video results. The colors appear washed out. You can see this if you compare the screenshot in the first tweet and the videos from the following tweets in this thread: https://twitter.com/construct5e/status/1390018544566513665.

[2021-05-06 12:35] AvdLee commented on #84
@Thomvis are you sure this is RocketSim related and not Twitter related? Twitter is great in messing up video quality

[2021-05-06 12:40] Thomvis commented on #84
@AvdLee I should have mentioned that, because I also doubted Twitter. But yes, the original files also have the issue: https://www.dropbox.com/s/66zqwglf2fy4cf1/dice.mp4?dl=0.

I was using Xcode 12.4's iPad Pro 12.9 inch (4th generation) simulator.

[2021-05-07 07:20] AvdLee commented on #84
Alright, thanks for confirming that!

Would you mind trying out the following command and verify the outcome:
[code]

and

[code]

I'm curious to see how this raw output looks, whether one of them has the same issue!

[2021-05-07 12:06] Thomvis commented on #84
@AvdLee h264 is washed out, hevc is alright. Since you switched to the latter I tried to make a video with RocketSim again and now it was alright... I must have used an older version, perhaps because the app was running during App Store update, I don't know. Sorry about that.

The video quality of the `simctl` is noticable higher though. Compare [simctl recording](https://user-images.githubusercon

[2021-05-07 12:11] Thomvis opened #103 "Incorrect video size for iPad Air 4th gen landscape - content cut off"
**Describe the bug**
A video recorded of an iPad Air 4th gen simulator (Xcode 12.4) in landscape yields an incorrect video where part of the rightmost content is cut off:

https://user-images.githubusercontent.com/134170/117447534-f00a3a00-af3d-11eb-8d36-90e5732d0344.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Open an iPad Air 4th gen simulator
2. Record a video

**Expected behavior*

[2021-05-07 12:18] AvdLee opened #104 "Add an option to position the image"
This speaks to `itself`:

![image](https://user-images.githubusercontent.com/4329185/117448494-1d0b1c80-af3f-11eb-855e-3e87104d0b4f.png)

[2021-05-10 06:51] AvdLee commented on #103
Oh damn, that's that not good! Did you experience the same with other iPad simulators?

[2021-05-10 06:52] AvdLee commented on #84
@Thomvis alright, great! Yeah, the quality is hard to get right with adding extra layers like touches, combined with resizing for App Store Connect App Previews.

I do plan to work on an improved formatted in a few months which should fix this!

[2021-05-10 07:11] Thomvis commented on #103
I tried with the iPad Pro 12.9” and that one was fine

[2021-05-26 08:02] djavan-tagheuer commented on #98
Hi. I can reproduce this bug on the 4.1.2. I've sent you a diagnostics report.
Please tell me if you want me to test something else.

[2021-06-01 18:29] KsAvsFan opened #105 "Cannot edit deeplink groups"
**Describe the bug**
I am not able to edit the groups I've setup for deeplinks.  I can create new groups, and add deeplinks to that (the currently selected, or new, group), but I cannot select existing groups to see the associated deeplinks.

**To Reproduce**
Steps to reproduce the behavior:
1. From Preferences, go to Deeplinks tab
2. Try to select an existing group name to see associated Deeplink

[2021-06-03 14:53] djavan-tagheuer commented on #101
I might I found what happened. I was not using the floating window, only enabling the touch record from the app settings. However, as you can see on the screenshot, the touch record from the floating window was disabled while the one in the settings was enabled.
Enabling the touches from the floating window worked and I now can record the touches!

<img width="657" alt="Screenshot 2021-06-03 at 16

[2021-06-04 09:33] AvdLee commented on #101
@djavan-tagheuer aaaah, that's a very clear bug. I should be able to fix that!

[2021-06-06 12:13] AvdLee commented on #101
This is fixed in the next release. I was referencing the wrong preferences key 😅

[2021-06-06 12:13] #101 closed

[2021-06-06 12:17] AvdLee commented on #98
@nickm01 @djavan-tagheuer can you share me an image of the simulator you have open? I'm curious to see its window names.

[2021-06-06 12:21] AvdLee commented on #99
Fixed in the next release

[2021-06-06 12:21] #99 closed

[2021-07-17 12:53] AvdLee commented on #102
This will be fixed in the next release: https://twitter.com/rocketsim_app/status/1416380381180354561?s=20

[2021-07-17 12:53] #102 closed

[2021-07-17 12:58] AvdLee commented on #98
Closing due to inactivity. This is working fine for everyone else afaik, so this should be a specific issue. W/o input, there's no way for me to solve this.

[2021-07-17 12:58] #98 closed

[2021-07-17 13:14] AvdLee commented on #103
This is fixed in the upcoming release. The resolution as noted in https://help.apple.com/app-store-connect/?lang=en/#/dev4e413fcb8 is not in the same aspect ratio, resulting in the wrong scaled export.

[2021-07-17 13:14] #103 closed

[2021-07-17 13:16] AvdLee opened #106 "Allow copying a deeplink URL to clipboard as alternate action"
Sometimes, it's useful to copy the URL to the clipboard to test it in the browser instead of the Simulator. We can add this as an alternative action.

[2021-08-06 17:05] furaiev opened #107 "[question] - Paste doesn't work in the trial version"
Hello,
Should the 'paste' option work in the trial version?
It is always disabled but I have an image in the buffer for sure.

[2021-08-09 10:08] AvdLee commented on #107
Yes, it should work. Which type of image do you have in your clipboard and how did you copy it?

[2021-08-11 09:29] furaiev commented on #107
I copied the image as .png in Figma (right like in your examples), as a result, I paste it everywhere but not in the RocketSimApp.
Also, I've tried to copy just a .png file from the mac finder - the same result.

[2021-08-12 09:10] AvdLee commented on #107
Can you share me a diagnostics report?

Preferences -> About -> Send Diagnostics

[2021-08-13 14:28] AvdLee commented on #75
Possible with RocketSim 5.0!

[2021-08-13 14:28] #75 closed

[2021-08-14 13:22] AvdLee opened #108 "Closing trimming using window close does not re-enable thumbnail"
Close using the top left red cross button.

[2021-08-17 19:26] #108 closed

[2021-08-17 19:32] AvdLee commented on #107
I've found the issue, Figma is no longer returning PNG but instead TIFF:

[code]

I'm going to update my code to handle any image type 🙂

[2021-08-17 19:35] AvdLee commented on #107
This is fixed in 5.0.1

[2021-08-27 13:48] AvdLee opened #109 "Windows don't appear on launch"

[2021-08-30 07:39] AvdLee opened #110 "Show hovering touches to follow interaction"
This can be an interesting option to have, to actually show how the mouse is moving over an app. Food for thought!

[2021-09-05 09:07] xxxrts opened #111 "Hi"

[2021-09-16 11:49] #111 closed

[2021-09-16 11:50] AvdLee opened #112 "Convertion failed window can't be closed"
There should be a close button on this popup:
![image](https://user-images.githubusercontent.com/4329185/133607081-cfd0b6f4-f7f9-4894-ba27-01c661dcfb37.png)

[2021-09-16 11:58] adurbalo commented on #112
It happens few times during saving Gif recording session (with duration at least 10-15 second)

[2021-09-20 14:22] AvdLee opened #113 "Add support for new iPhones"
iPhone 13 is not yet recognised.

[2021-09-21 19:08] #113 closed

[2021-09-21 19:08] AvdLee commented on #112
This is fixed in the upcoming release

[2021-09-21 19:08] #112 closed

[2021-09-24 13:58] lj-dickey commented on #104
+1 for this enhancement!

[2021-09-27 06:37] AvdLee opened #114 "Floating thumbnail option to follow the active screen"
I can be nice to follow the active screen and show the floating thumbnails there. It's a nice feature of CleanShot!

[2021-09-29 04:59] gormster opened #115 "RocketSim aggressively lags my computer"
**Describe the bug**
Whenever I launch my app in the simulator with RocketSim running, my entire computer freezes for about five to ten seconds. Everything, even the mouse cursor. This also happens when switching back to the simulator.

Also, clicking the RocketSim menu icon does not open the menu; I had to quit the app from Activity Monitor.

**To Reproduce**
Steps to reproduce the behavior:
1. H

[2021-09-29 11:56] AvdLee commented on #115
Thanks for reporting this! I've experienced this in the past too, but not recently anymore so I figured it was solved or just a debug build causing it. I'll see if I can find the cause.

Could it be that you've had cancelled conventions? I can imagine that I don't clean up those assets from memory nicely 🤔

Either way, any extra context is welcome, but I'll see what I can do with what we've got to

[2021-10-30 09:13] AvdLee commented on #105
Closing this since we dropped support for Catalina

[2021-10-30 09:13] #105 closed

[2021-10-30 09:15] AvdLee commented on #110
This is likely going to be too hard to make performant and requires a lot of calculation on exporting. Not worth the effort

[2021-10-30 09:15] #110 closed

[2021-10-30 09:16] AvdLee commented on #115
@gormster did it happen recently with the latest app version? I haven't experienced it myself lately anymore!

[2021-11-01 17:52] AvdLee opened #116 "Unable to change "Optimise for" to "Quality""
Steps to reproduce:
1. Click on Preference from the menu bar
2. Go to recording tab
3. Change Optimise to "Quality" (the menu doesn't reflect the change)
4. Go to another tab
5. Go back to recording tab and click on "Optimise for" again (Speed is selected instead of Quality)

System Information:
macOS Monterey 12.1 Beta (21C5021h), Apple M1(8+8), 16GB RAM, Xcode 13.1 (App Store)

[2021-11-03 10:00] AvdLee opened #117 "Recording issues to fix on Monterey"
- Selecting “Start GIF recording” - actually starts an MP4 recording. Seems to make no difference which one I choose. Its always MP4
- In settings, when selecting between quality and speed - the selection is not updated in the UI
- Touches in the simulator do not show

[2021-11-19 13:31] AvdLee opened #118 "Floating thumbnail shows behind dock"
We should take this into account, but only if the dock is of such width that it can get in the way of the thumbnail

![image](https://user-images.githubusercontent.com/4329185/142630927-ed5bd5c5-0867-4258-beed-a5183d6f00d3.png)

[2021-11-19 13:32] AvdLee opened #119 "Screenshot copy does not create supported file for Slack"
[code]

[2021-11-19 13:33] AvdLee opened #120 "Save button enables drag mode"
We should likely disable drag on the button if possible.

[2021-11-21 20:58] AvdLee commented on #116
This is fixed in the next version

[2021-11-21 20:58] #116 closed

[2021-11-22 08:59] AvdLee opened #121 "Touches are off when recording with bezels"
Touches are not displayed correctly for recordings with touches

[2021-11-25 20:10] #121 closed

[2021-11-25 20:34] #120 closed

[2021-11-25 20:34] #117 closed

[2021-11-25 20:39] #119 closed

[2021-11-26 08:25] ChiellieNL opened #122 "macOS: Onboarding stuck on screen recording permissions"
I already had a previous version installed on macOS 12.0.1 and granted permissions for screen recording.

Then I updated to the TestFlight build 6.0.0 (76) and got into the onboarding again.
When I reached the page for screen recording permissions, I got stuck since they were already granted.

Tried to quit and relaunch the app, but again got stuck at the same page.
To solve the issue I disabled t

[2021-11-26 10:44] ChiellieNL opened #123 "Right rotated screenshot is upside-down"
**Describe the bug**
When I have a right-rotated device, screenshots are upside-down (left rotated or portrait works fine)

**To Reproduce**
Steps to reproduce the behavior:
1. Rotate the device to the right
2. Make a screenshot

**Expected behavior**
A screenshot that matches the device

**Screenshots**
<img width="2176" alt="Schermafbeelding 2021-11-26 om 11 37 53" src="https://user-images.githu

[2021-11-26 12:20] AvdLee commented on #122
@ChiellieNL thanks for reporting this! I've experienced the same and figured it's related to TestFlight only, since it overwrites an existing App Store app. I'll verify a bit more!

[2021-11-26 12:22] AvdLee commented on #123
I'm closing this as a can't fix. There's no way for me to find out whether you rotated your device right or left, which is why I just picked left rotations as a default. Limitations of sandbox app, unfortunately!

[2021-11-26 12:22] #123 closed

[2021-11-30 20:31] AvdLee commented on #122
Closing this as this is pretty surely related to TestFlight

[2021-11-30 20:31] #122 closed

[2021-11-30 20:31] AvdLee commented on #115
I couldn't reproduce this anymore, so closing this

[2021-11-30 20:31] #115 closed

[2021-11-30 20:52] AvdLee commented on #80
This is now available in beta!
https://testflight.apple.com/join/ORz3QWRv

[2021-11-30 20:52] #80 closed

[2021-12-11 03:51] btjones opened #124 "Touches appearing in the wrong place"
**Describe the bug**
Touches are appearing in the wrong place on videos.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any app
2. Touch some things
3. Save the video and watch it
4. Touches appear in the wrong place

**Expected behavior**
Touches appear where I clicked the simulator with my mouse.

**Screenshots**

In this video I am dragging the tiny thumbnails near the bottom of the

[2021-12-11 04:01] btjones commented on #124
Interestingly it appears closer (but still off) when recording on my laptop monitor instead of my external monitor:
https://user-images.githubusercontent.com/155808/145662955-9e8418f9-1db9-4d8b-978f-3622cb9953e7.mp4

I'm on a MacBook Pro (13-inch, M1, 2020) and my external monitor is 4k in case that is a factor here.

[2021-12-12 20:48] AvdLee commented on #124
Interesting! This must be related to an external screen, indeed! On which side do you have your screen configured? And what resolutions does it have? That would allow me to reproduce this!

[2021-12-12 20:49] #106 closed

[2021-12-13 16:32] btjones commented on #124
**Screen Sizes**
<img width="698" alt="Screen Shot 2021-12-13 at 10 41 44 AM" src="https://user-images.githubusercontent.com/155808/145850935-aaa707d6-63e2-4b1b-ae70-093e922ba91a.png">

**Screen Position**
<img width="780" alt="Screen Shot 2021-12-13 at 10 42 43 AM" src="https://user-images.githubusercontent.com/155808/145850964-c5156255-a867-4e8a-8de5-306134958b2d.png">

**Laptop Screen Details**

[2021-12-13 16:43] btjones opened #125 "Always show "finger" touch on screen"
**Is your feature request related to a problem? Please describe.**
Sometimes touches appear and disappear very quickly which can make it hard to see what the user's action was in a video.

**Describe the solution you'd like**
It would be nice to have an option to always show a finger "touch" circle so that you could see where the "finger" is hovering/moving before it actually touches the screen. T

[2021-12-14 10:29] AvdLee commented on #124
That's a great external screen ;-)

Thanks a lot, I'll try to reproduce this!

[2021-12-14 16:31] AvdLee opened #126 "Symlinks are not correctly supported"
however, the app itself does not like it, and the preferences says i’ve selected an “invalid” xcode

[2021-12-14 16:31] AvdLee opened #127 "Screen permissions don't seem to work on first launch, force quit is required"
Multiple users reported this. Let's see how to fix this.

If you're reading this and you have good ideas, let me know! There's not much documentation around this.

[2021-12-14 16:32] AvdLee opened #128 "Preferences menu option not responding while selecting a new Xcode version"

[2021-12-14 16:48] StewartLynch opened #129 "Transparent Background"
I often use recording of my iPhone in my YouTube videos to demo an app.  I overlay that video on top of my screencast so it would be great if you could have a transparent background rather than a solid color.  That way, I could overlay the video and not have that rectangular background that is currently displayed.  Currently, I drag my recording intro Rotato that allows me to choose a transparent

[2021-12-14 16:51] btjones commented on #125
In ScreenFlow 10 this feature is called "Attention Effect" and is a gray circle that floats around the screen with your mouse.

<img width="308" alt="Screen Shot 2021-12-14 at 11 48 14 AM" src="https://user-images.githubusercontent.com/155808/146042510-93aebf95-a4e8-4f37-8c3e-db2863461c19.png">

[2021-12-14 17:33] AvdLee opened #130 "App Specific options: Allow openingfolders like the documents directory"
Many other Simulator tools provide the option to open the documents directory for a custom app. In other words, they provide per-app-specific options.

We could build a feature in which we show custom apps for the focused simulator and provide options like:

- [x] Open deeplinks (match on bundle identifier)
- [x] Open push notifications (match on bundle identifier)
- [x] Open documents directory
-

[2021-12-14 17:53] AvdLee opened #131 "Configure floating windows"
Define which windows should be shown and which not. Some might never use the comparison window, for example, which makes it a waste of space when you have the simulator window open.

[2021-12-14 20:10] AvdLee commented on #127
Fixed in 6.0.1 submitting soon

[2021-12-14 20:10] #127 closed

[2021-12-15 16:24] AvdLee opened #132 "Xcode `simctl is missing` when in user directory"
[code]

We should likely do something with user directory access

[2021-12-15 20:39] AvdLee opened #133 "Add support for fullscreen mode with the simulator"
Not sure how, but worth investigating!

[2021-12-15 20:39] AvdLee opened #134 "Minimized version of floating thumbnails"
Once you know RocketSim, you also know its action. We could likely make the options much smaller and take less space

[2021-12-15 21:14] AvdLee commented on #126
This is an interesting API to look at: https://developer.apple.com/documentation/foundation/url/1779822-resolvingsymlinksinpath

Although NSOpenPanel automatically resolves symlinks 🤔

[2021-12-16 08:14] AvdLee commented on #132
There is no way to make this work, unfortunately. I've had to force users to select a different location for their Xcode. Sandbox fun.. :(

[2021-12-16 08:14] #132 closed

[2021-12-16 08:46] AvdLee commented on #126
Tested locally, this is working as expected

[2021-12-16 08:46] #126 closed

[2021-12-19 18:54] AvdLee opened #135 "Apple Watch support for recordings"
Let's look if it's possible to add support for Apple Watch
https://twitter.com/mdeuschl/status/1472227864879767552?s=20

[2021-12-20 20:33] AvdLee commented on #124
This will be fixed in 6.0.2, available tonight on TestFlight!

[2021-12-20 20:33] #124 closed

[2021-12-20 20:33] AvdLee commented on #109
Fixed in 6.0.2

[2021-12-20 20:33] #109 closed

[2021-12-20 20:40] btjones commented on #124
Thanks so much! Love the app.

[2021-12-22 11:51] davidaberg opened #136 "Device Bezels not applied to recorded Gif"
When I select Device Bezel it’s not applied to the Gif I record. Was expecting that but maybe it’s not supported?

[2021-12-22 13:31] AvdLee commented on #136
Good point, it's indeed not supported right now! I'll keep this issue open for now to track this as a feature request.
Reason it's not yet added is since the GIFs are becoming less and less popular, especially since websites like GitHub now also support MP4 files in pull requests.

Makes me wonder; what is your main reason to use GIF over MP4?

[2021-12-22 13:45] davidaberg commented on #136
Thanks for the quick reply. We are creating demos of our new views and components to showcase them in a Figma presentation. I can be wrong but it's my understanding that videos can't be used like that in Figma presentations.

[2021-12-27 22:35] haIIux opened #137 "Additional Bezel Colors"
**Is your feature request related to a problem? Please describe.**
I'm trying to use custom bezel colors or more bezel colors then what is offered (black) or that I can find that is...

**Describe the solution you'd like**
As a pro users, custom bezel colors, much like the custom background colors would be a nice feature.

**Describe alternatives you've considered**
I've considered finding some me

[2021-12-31 11:20] AvdLee opened #138 "Touches visible at start of recording in bottom left corner"
It seems that the touches are waiting for their actual position. We need to set the alpha to 0 until the first touch is recorded.

[2021-12-31 11:28] AvdLee opened #139 "CMD+Tab when Xcode in fullscreen does not show RocketSim Windows"
An easy way to reproduce it is to have Xcode full screen and the simulator somewhere on the desktop. Then:
- go to Xcode
- make sure the simulator is the next "cmd-tab" destination
- hit cmd-tab
- you are taken to the desktop where the sim is

Expected;
- rocket is shown

Actual:
- rocket is not shown, even if I interact with the simulator

Cmd-tabbing between Xcode and sim (for when you don't hav

[2022-01-04 13:34] AvdLee commented on #137
Thanks, @haIIux, I'll see what I can do!

[2022-01-06 18:36] AvdLee opened #140 "Recording is shorter than expected"
It seems that recordings are cut off in the end. Let's dig in!

[2022-01-14 15:53] AvdLee opened #141 "Recording in Landscape on iPhone seems to break sometimes"
Note for myself, see report from Nigel Gee.

[2022-01-17 15:47] ArturoLee commented on #137
Customizable clay and semi transparent bezels would be great options. I just purchases Pro! Love this tool.

[2022-01-19 09:45] AvdLee commented on #137
@ArturoLee can you elaborate on what you mean with "Customizable clay"?
Also, do you mean with transparent bezels literally having the device be a bit more transparent? I wonder what the usecase is for that 🤔

[2022-01-19 16:01] ArturoLee commented on #137
Scratch the clay part. There are a way too many ways to customize bezels. Just being able to customize the bezel color would be great (with the option of transparency). It would mainly be useful for helping out with branding/marketing so it can match with backgrounds.

![IMG_3931](https://user-images.githubusercontent.com/13791726/150168057-f85431c7-a5af-47f5-8c0c-21a766c63cc9.jpg)

[2022-01-20 10:15] AvdLee opened #142 "Touches go in inverse direction"
Reported by P. Adams with a Diagnostics report

[2022-01-24 14:00] AvdLee commented on #137
Perfect, this makes sense! I'll see what I can do here

[2022-02-08 23:36] markltownsend opened #143 "Screenshots and movies not being generated when using iOS 15.4 sims from Xcode 13.3 b1"
**Describe the bug**
When trying to create a screenshot using the iOS 15.4 simulator from Xcode 13.3b1 using the side panels, the panel comes up to generate the png file, but hangs there.

**To Reproduce**
Steps to reproduce the behavior:
1. Open iOS Simulator from Xcode 13.3b1
2. Click "Create Screenshot" on side panel next to simulator
3. Observe the "Creating PNG" panel showing with progress ba

[2022-02-09 09:49] AvdLee commented on #143
Thanks for reporting in, I'll take a look!

[2022-02-09 19:52] markltownsend opened #144 "RocketSim process gets into state that it's draining battery"
**Describe the bug**
I noticed that my new M1 Max MBP was suddenly draining battery like my "old" Intel i9 MBP.  After looking at other options, opened Activity Monitor and saw that RocketSim was at the top of the list for Energy Impact.

**To Reproduce**
Unfortunately, not sure how it got into this state.  The interactions I've had with it have been mostly around trying it with the new Xcode beta

[2022-02-10 14:45] AvdLee commented on #144
I have actually noticed something similar on my M1 MacBook. There must be some background process running or not cleaned up correctly. Thanks for reporting in, I'm planning on working on this asap.

[2022-02-13 08:33] AvdLee commented on #144
Top priority today! Refactoring with Instruments on my side. I want to get rid of this completely and have a high-performant application!

[2022-02-13 10:49] AvdLee commented on #138
Could not reproduce this anymore, so this is likely fixed in the next build.

[2022-02-13 10:49] #138 closed

[2022-02-13 10:49] AvdLee opened #145 "Allow configuring a custom touch point color"
Should be simple to build and can be a nice addition!

[2022-02-13 10:50] AvdLee commented on #144
I've done a lot of improvements for the upcoming build which are likely going to help a lot in this regard. I'm going to close this issue for now and I'm going to reopen it when I think it's not yet solved.

[2022-02-13 10:50] #144 closed

[2022-02-13 12:16] AvdLee commented on #140
I was unable to reproduce this, so it seems to be solved!

[2022-02-13 12:16] #140 closed

[2022-02-13 12:24] AvdLee commented on #143
@markltownsend I could not reproduce this locally. Can you share a Diagnostics report through Preferences -> About - Report an Issue?

[2022-02-13 12:26] AvdLee commented on #141
Works fine here!

https://user-images.githubusercontent.com/4329185/153752957-97cd8d83-8298-44cb-a3c4-6e7449a21e09.mp4

[2022-02-13 12:26] #141 closed

[2022-02-14 17:21] markltownsend commented on #143
@AvdLee Of course, I can't reproduce it either locally now.  The only difference before and now, is that I updated to macOS 12.2.1 which made my iPhone 13 simulators disappear for Xcode 13.3b2.  Recreating the simulator for iPhone 13 Pro with iOS 15.4, I was not able to reproduce.

Is it possible that the issue was happening because of some issue with the iPhone 13 simulator itself that was causin

[2022-02-15 12:36] AvdLee commented on #143
Very unlikely! I rather think this has something to do with the Xcode version being selected as command-line tool. If you like, you could still share the Diagnostics report, since it likely contains the session that failed before. It would potentially allow me to find the root cause.

[2022-02-18 15:19] AvdLee opened #146 "Add support for new notch"
To prevent the icon from going behind the notch.

https://developer.apple.com/documentation/bundleresources/information_property_list/nsprefersdisplaysafeareacompatibilitymode

[2022-02-25 09:04] #145 closed

[2022-02-25 09:04] AvdLee commented on #145
This is released!

[2022-02-25 09:05] AvdLee commented on #143
Closing this as can't reproduce

[2022-02-25 09:05] #143 closed

[2022-02-25 09:05] AvdLee commented on #131
This will be released soon!

[2022-02-25 09:05] #131 closed

[2022-02-25 09:06] AvdLee opened #147 "First touch not visible since Simulator window is not active"
1. Start recording with touches enabled
2. Tap inside the Simulator
3. See that the first touch is not captured

[2022-02-27 14:15] AvdLee commented on #129
Making a note for myself; this might be a valuable resource in this regard: https://speakerdeck.com/toyship/hevc-video-with-alpha-channel

[2022-03-01 10:15] AvdLee commented on #125
Another example of how this looks when used in Principle:

https://user-images.githubusercontent.com/4329185/156150514-61ccccfe-4dd6-431b-8b5e-9617dae658bd.mp4

[2022-03-02 08:12] AvdLee opened #148 "Checkmarks disappear after becoming PRO"
See: https://twitter.com/skov41/status/1498768693219799041?s=11

[2022-03-09 20:21] AvdLee opened #149 "Switching scenes does not work"
The RocketSim windows don't appear when the Simulator is moved to another scene. (Reported by R. Skov)

[2022-03-16 17:08] AvdLee opened #151 "Floating windows are cut off"
![image](https://user-images.githubusercontent.com/4329185/158647603-3934363f-e6a0-43c6-9cef-afcaa52a5980.png)

[2022-03-16 17:11] AvdLee opened #152 "Touches don't work when the overlay compare tool is active"
1. Enable the overlay compare mode
2. Try to scroll the Simulator

[2022-03-20 08:53] AvdLee opened #153 "Allow to hide thumbnails temporarily"
Cleanshot does this too any it can be a great way to temporarily hide the floating thumbnails

[2022-03-20 09:39] AvdLee opened #154 "Recent builds menu shows on main screen if tapped from secondary screen"
Environment

- iMac 27” with an XDR display as the primary display. macOS 12.3.
- iOS 15.4 simulator running on the iMac display (the secondary display)

Steps to Reproduce

1. Launch RocketSim and a simulator so it is accessible.
2. In the Recent Builds modal to the right of the simulator click on “Perform”

The menu that appears is on the primary display instead of the secondary display. I’d hop

[2022-03-23 15:18] AvdLee opened #155 "Onboarding is blurry"
See: https://twitter.com/K_A_Blom/status/1506640430556975112?s=20&t=b8ydcUqSgfOP-iavx_Kxsw

![image](https://user-images.githubusercontent.com/4329185/159733426-f82e0aad-0309-46d5-af7b-f428309239aa.png)

[2022-03-26 14:00] AvdLee opened #156 "Allow deleting a deeplinks group using a visual button"
Now it's only possible through a right click:
<img width="309" alt="image" src="https://user-images.githubusercontent.com/4329185/160242858-c09ee957-70fd-4e62-b729-09036ba0cc54.png">

[2022-03-28 07:53] AvdLee opened #157 "Create a grid system"
### Grid
- [x] Optimise design window for new grid configurations
- [x] Allow configuring horizontal and vertical grid
- [x] Allow configuring grid block size
- [x] Allow configuring grid color
- [ ] Allow configuring thick lines

<img width="508" alt="image" src="https://user-images.githubusercontent.com/4329185/165555608-b6866fe6-d3e6-42fc-9ed1-8d4867a0d0c3.png">

### Rulers
- [x] Show rulers al

[2022-03-28 13:21] jaafarbarek commented on #104
I like the tool so much, but this is blocking me from using it with the designs I have in the app I am working on.
I wish there was an option as mentioned to position the design image.

[2022-03-29 11:50] AvdLee opened #158 "Allow toggling floating windows from statusbar menu"
As requested: https://twitter.com/pumasalad/status/1508541303163797504?s=11&t=VFDo0Kr4rUaeAALStDtVfw

[2022-03-30 17:11] AvdLee opened #159 "Asset copy is not working as expected"
Copy results in a file URL, this is the result:

Also, Brian inside mail:

[2022-03-30 17:19] AvdLee opened #160 "Allow configuring quick actions"
For example:

- Three configurable buttons to perform commonly used actions like "Reset camera permissions" or "Reset location permissions"

This gives users the possibility to quickly access commonly used actions for their purpose.

Twitter used to do something similar with their development team, to allow performing actions quickly based on deeplinks

[2022-03-30 17:20] AvdLee opened #161 "iPhone SE 3rd generation does not show a popup"
There's another related issue most likely to `iPhone SE 2 gen & iPhone 8`:

<img width="791" alt="image" src="https://user-images.githubusercontent.com/4329185/160894090-16a92b45-6bbe-4a26-8ec4-c5962a50e36f.png">

[2022-04-05 08:11] yonaharel opened #162 "Recording simulator stuck in buffering and won't stop."
**Describe the bug**
When tried to record screen in the simulator the timer didn't stop.
There was no way that I could close rocketSim (I didn't find it in the force close menu but the timer on the status bar was still there).
When moving the cursor to the status bar it was in loading animation constantly
had to restart my machine

**To Reproduce**
Steps to reproduce the behavior:
1. Press The rec

[2022-04-05 08:13] yonaharel commented on #162
Uninstalled and reinstalled and couldn't reproduce. maybe a one time bug?

[2022-04-07 13:38] AvdLee commented on #162
There was a bug like this in a previous build but it got fix in the latest RocketSim version. Could it be that you were still running an old version of RocketSim before?

[2022-04-10 13:06] #161 closed

[2022-04-10 13:11] #151 closed

[2022-04-10 13:13] #162 closed

[2022-04-12 15:26] AvdLee opened #163 "Allow easy toggling window visibility"
This would be useful for those that don't always want to see the floating windows.

- [x] Allow configuring a shortcut to show/hide the windows
- [ ] Create a minimize button to hide the windows

[2022-04-12 15:44] AvdLee commented on #104
This is upcoming in version 7.1.0!
https://twitter.com/rocketsim_app/status/1513901678717808653?s=20&t=rmGeKhqP3IpEr_nqs9IZmQ

[2022-04-12 15:44] #104 closed

[2022-04-14 22:58] may-BeR00t opened #164 "Global Delete DerivedData Option"
**Is your feature request related to a problem? Please describe.**
It would be very handy to have a button to delete the entire DerivedData folder. The option to delete the contents of DerivedData  per simulator is nice but sometimes its easier to just clear the delete the whole folder.

**Describe the solution you'd like**
Since there is status icon in the menu bar, it would be a good place to ha

[2022-04-15 16:07] AvdLee opened #165 "Dynamic type control"
Xcode allows easy changing the dynamic type size, but you'll always have to navigate back to the simulator. We could leverage the floating windows and enjoy a much better experience

[2022-04-15 16:12] bsrz opened #166 "Allow overlay to be on the left of the simulator"
## Problem

I have my simulator on the left of Xcode, which means the overlay of the simulator is on top of Xcode's file navigator.

## Solution

A preference parameter to change the side of the simulator on which the overlay appears.

## Screenshots
![CleanShot 2022-04-15 at 12 12 14](https://user-images.githubusercontent.com/1077441/163594402-2df982a1-5ea1-4c4b-9785-cc40ecce22e4.png)

[2022-04-16 07:57] AvdLee opened #167 "iPad Mini recordings are cut off"
Reported by Howart in mail

[2022-04-19 08:05] AvdLee opened #168 "Images are shown as questionmarks"
See: https://twitter.com/lkuczborski/status/1516056337947541514?s=20&t=T3JsijriwAeyET--zNRTiw

We need to use `Image` instead of `Text`

[2022-04-22 08:09] AvdLee commented on #164
I verified this usecase and I can confirm there's a need!
https://twitter.com/twannl/status/1517415237326155776

[2022-04-23 08:50] ridmaur opened #169 "Undefined spot in bottom left corner on recordings"
When recording with bezels on and with touches, the final recording does show a spot (in my case, orange) in the left bottom corner of the final recording. See attached file. The spot disappears at the end of the video.

https://user-images.githubusercontent.com/2020923/164887596-1c3dc592-1fcf-42d9-b0cb-edb1fb5be447.mp4

.

[2022-04-25 08:13] AvdLee commented on #169
@ridmaur which version of RocketSim are you using?

[2022-04-25 08:16] ridmaur commented on #169
7.1.1 (98)

[2022-04-29 15:21] #157 closed

[2022-04-29 15:22] AvdLee opened #170 "Store Grid Rulers Per Simulator"
#157 introduced a Grid system. It's yet to be seen whether it's valuable, but we might want to store the rulers per Simulator. I wonder though: do users use grids across multiple Simulators in the same session 🤔

[2022-04-29 15:22] AvdLee opened #171 "Implement Datadog"
Let's see if we can fork Datadog for macOS support and add it accordingly.

[2022-04-29 15:24] AvdLee commented on #163
Related to: https://github.com/AvdLee/RocketSimApp/issues/158

[2022-04-30 14:26] AvdLee commented on #171
Gave it a try, but this seems undoable for me within a short amount of time. Unfortunately!

[2022-04-30 14:26] #171 closed

[2022-04-30 15:20] AvdLee commented on #164
✅ Global deletion
⏭ Per app deletion

[2022-04-30 15:53] ridmaur commented on #169
Any feedback on why this is happening? Could it be because I am using Screen Sharing to access the computer on which RocketSim runs?

[2022-04-30 18:18] Sherlouk commented on #165
Subscribing for updates. This would a really helpful feature - I wonder about other accessibility features too like reduce transparency and more? ❤️

[2022-04-30 18:20] Sherlouk opened #172 "Save as Reference"
Currently RocketSim has a great ability to compare design to actual output.

I wonder if there could be a one button option to take a snapshot of the simulator and then use that as the reference/design in the comparison view?

This would make it easy to iterate on UI work and understand what's changing from build to build.

[2022-05-03 11:59] coderExMachina opened #173 "Option to configure simulator status bar for screenshots/videos"
For screenshots as well as for videos it would be great if it would be possible to customize the simulators status bar. E.g. I would like to:

- Set the time format
- Set a specific time, e.g. to 09:41 😎
- Show full cellular signal

[2022-05-04 12:06] AvdLee commented on #159
This is fixed and will be released with RocketSim 8.0

[2022-05-04 12:06] #159 closed

[2022-05-04 12:16] AvdLee commented on #156
This will be fixed in RocketSim 8.0

[2022-05-04 12:16] #156 closed

[2022-05-05 07:51] AvdLee opened #174 "Clear launchboard cache"
This could be a useful addition: https://rambo.codes/posts/2019-12-09-clearing-your-apps-launch-screen-cache-on-ios

[2022-05-07 12:21] AvdLee commented on #154
This is fixed in RocketSim 8.0

[2022-05-07 12:21] #154 closed

[2022-05-07 12:24] AvdLee commented on #169
@ridmaur this is a bug I need to fix, it's in the code of RocketSim. Working on a fix right now!

[2022-05-07 12:30] AvdLee commented on #169
Up until now I could not reproduce it, but I found out it's only happening if you tap for touches, no dragging. Fixing now!

[2022-05-07 12:32] #169 closed

[2022-05-07 12:34] AvdLee opened #175 "Hover is not triggered on floating thumbnail by mouse move"
1. Put mouse on thumbnail while progress is running
2. Converting finishes
3. Move mouse
4. Buttons are not showing up

[2022-05-07 12:34] AvdLee opened #176 "Floating windows do not appear right away when moving to second screen"
Occasionally, the floating windows are not showing up when dragging the simulator to a second screen.

[2022-05-08 20:45] #176 closed

[2022-05-08 20:45] #175 closed

[2022-05-08 20:55] AvdLee commented on #158
This is implemented for RocketSim 8.0

[2022-05-08 20:55] #158 closed

[2022-05-08 20:59] AvdLee commented on #163
Minimize button will be done later

[2022-05-08 20:59] #163 closed

[2022-05-08 21:02] AvdLee commented on #167
Checked this and found that the recordings are looking fine!

[2022-05-08 21:02] #167 closed

[2022-05-08 21:04] AvdLee commented on #172
You could drag the thumbnail directly into RocketSim, isn't that sufficient enough? Let me know your thoughts!

[2022-05-08 21:04] #172 closed

[2022-05-08 21:11] #147 closed

[2022-05-08 21:19] AvdLee commented on #118
This is fixed in RocketSim 8.0

[2022-05-08 21:19] #118 closed

[2022-05-09 07:10] AvdLee commented on #173
Guess what: an early version of RocketSim already had this in place. Though: it slows down the recording process since it has to run the command for updating the status bar first.

I'll re-evaluate implementing this, but I will probably make it a separate step with a potential opt-in to automate it before running a capture event.

[2022-05-09 07:35] Sherlouk commented on #172
🤦  of course I can, d'uh

my apologies!

[2022-05-10 07:22] ridmaur commented on #169
Thanks @AvdLee. When do you expect the issue to be available in update available in App Store?

[2022-05-10 17:50] AvdLee commented on #169
I'm hoping the end of this week, but at least before the end of the month!

[2022-05-10 17:50] #155 closed

[2022-05-10 18:29] ridmaur commented on #169
Thanks for the feedback. I’m about to release a new version of my app with in-app support using videos. So I hope rather sooner than later, but no pressure :-)

[2022-05-12 19:52] blastum opened #177 "Option to skip positive confirmation that derived data is deleted"
**Is your feature request related to a problem? Please describe.**
It is inefficient to provide a positive confirmation that derived data has been deleted when we know we will get a negative confirmation if it fails

**Describe the solution you'd like**
Provide an option to hide the "derived data has been deleted" method

**Describe alternatives you've considered**
It does not need an option, you

[2022-05-16 18:59] ridmaur commented on #129
I support this.. Recording videos right now to use with the Supporter framework from Jordi Bruin. I noticed that when recording videos for white background, the recorded video still shows a black rectangle. Transparent background would be so much better.

[2022-05-17 20:54] gohanlon opened #178 "Act as a "window manager" for multiple Simulators"
Group several device simulator windows into a single window (somehow) to make macOS's "Split View" much more useful, e.g. Xcode/NeoVim on the left, device simulators on the right. And, non-split Full Screen is even less useful as-is, but it could be amazing on a second monitor if multiple simulator devices could share one window.

My workflow often involves using multiple simulated devices simulta

[2022-05-18 01:28] grennis opened #179 "Display HTTP traffic (API requests)"
**Is your feature request related to a problem? Please describe.**
It's helpful to monitor network traffic of an app in development.

**Describe the solution you'd like**
A lightweight HTTP monitor for just the app I'm debugging with json request/response would be great. If it just magically worked like other features, that would be awesome.

**Describe alternatives you've considered**
There is pr

[2022-05-18 15:38] spnkr opened #180 "Offer a one-time price for Pro. Subscriptions are annoying."
**Is your feature request related to a problem? Please describe.**
I want pro but don't want to pay monthly.

**Describe the solution you'd like**
A one time price I can pay.

**Describe alternatives you've considered**
None

**Additional context**

[2022-05-19 09:15] AvdLee opened #181 "Add support for App Store Connect screenshots exporting"
App Store Connect mode only works for videos right now. Would be good to have it for screenshots too. Potentially, we can make it even work for bezel-containing screenshots as well.

[2022-05-19 11:52] AvdLee commented on #169
It's live now!

[2022-05-19 11:55] AvdLee commented on #180
@spnkr how about the yearly license subscription instead? Or are you looking for a lifetime purchase? If the latter: what would be a reasonable price you think?

[2022-05-21 12:15] AvdLee opened #182 "Make it clearer sticky rulers are PRO"
See for context: https://twitter.com/bvccaneer/status/1527227436840243206?s=11&t=d4MAhBrAd1rxizSnvnX3vA

[2022-05-21 12:17] AvdLee opened #183 "Improve support for external screens"
Some users report issues with the floating windows becoming visible on external screens. We should test this a little further and see what's going on. Ideally combined with implementing #114 as a win-win!

[2022-05-21 12:19] AvdLee opened #184 "Close button of floating thumbnails don't always work"
Either on the main or second screen. Probably due to the latest mouse tracking improvements we've done.

[2022-05-21 12:24] fatbobman commented on #183
Thanks! Looking forward to fix it.

[2022-05-22 12:39] AvdLee opened #185 "Statusbar item is too big"
See this image:

![image](https://user-images.githubusercontent.com/4329185/169695629-d2d81f3d-6a54-4978-8170-41074d1906e4.png)

[2022-05-22 12:53] AvdLee commented on #185
I've configured it to its minimum width, can't do much more!

[2022-05-22 12:53] #185 closed

[2022-05-22 13:09] AvdLee commented on #177
Agreed! This will be fixed in 8.0.1

[2022-05-22 13:09] #177 closed

[2022-05-22 14:06] AvdLee commented on #149
This is fixed in 8.0.1

[2022-05-22 14:06] #149 closed

[2022-05-25 15:22] AvdLee commented on #183
This is fixed in 8.0.1!

[2022-05-25 15:22] #183 closed

[2022-05-25 15:31] AvdLee commented on #184
This is fixed in 8.0.1!

[2022-05-25 15:31] #184 closed

[2022-05-27 08:28] AvdLee opened #186 "Sales page misalignment"
![image](https://user-images.githubusercontent.com/4329185/170661794-53d1e9ec-d2ce-44bd-8b98-18b04ca895b3.png)

Reported by F. Wallner

[2022-05-30 17:42] AvdLee opened #187 "Implement enhanced rating requester"
From SLExtensions

[2022-06-01 13:32] AvdLee opened #188 "Highlight middle of the screen inside rulers"
It can be useful to know the middle of both vertical and horizontal rulers.

[2022-06-06 14:40] #187 closed

[2022-06-06 14:40] #180 closed

[2022-06-06 14:44] AvdLee commented on #186
Fixed!

[2022-06-06 14:44] #186 closed

[2022-06-07 20:19] AvdLee opened #189 "Adopt new settings techniques"
When dropping macOS 12:
![CleanShot 2022-06-07 at 22 18 19@2x](https://user-images.githubusercontent.com/4329185/172474677-ef99f891-e291-47c2-979f-a573ca647188.jpg)

- [x] Rename Preferences to Settings

[2022-06-07 20:22] AvdLee opened #190 "Enhance the deeplinks page with tables"
Now that we dropped macOS 11 we can start using tables

[2022-06-08 09:05] AvdLee opened #191 "WWDC 2022 Improvements"
- [x] Implement `NSColorWell`
- [x] Update Preferences to Settings
- [x] Use Table for deeplinks
- [x] `NSSharingServicePicker` for thumbnails NSComboButton with NSShareMenuItem? See what's new in AppKit
- [x] `ScreenCaptureKit` for videos with audio?

[2022-06-16 11:28] AvdLee opened #192 "Allow clearing SwiftUI Previews from the statusbar menu"
As reported by [Terje](https://twitter.com/TerjeLonoy) and described on the [Apple forums](https://developer.apple.com/forums/thread/672728) you can clear SwiftUI previews data using `xcrun simctl --set previews delete all`

[2022-06-17 03:21] venkatbonda opened #193 "Providing option to convert the video generated into .mov format"
**Is your feature request related to a problem? Please describe.**
The video generated in the .mp4 format takes good amount of size. If we have a provision to generate .mov it will be good as the size is less

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
I use quick time player to convert the video tha

[2022-06-20 14:40] AvdLee opened #194 "Privacy and terms are findable by Google"
![image](https://user-images.githubusercontent.com/4329185/174626230-deb89c4b-f62e-412b-b29c-8e07e23d3156.png)

[2022-06-20 21:22] nlabarbera opened #195 "RocketSim Appears Briefly When Switching Between macOS Spaces"
**Describe the bug**
I have the simulator closed and shut down. When I swipe between my Mac's spaces, the RocketSim window appears for 3-4 seconds then disappears.

**To Reproduce**
Steps to reproduce the behavior:
- Have multiple Spaces on your Mac.
- iOS Simulator is closed.
- Swipe between Spaces with the 4 finger swipe.

**Expected behavior**
Not to see the RocketSim window flash as my iOS sim

[2022-06-22 05:58] AvdLee opened #196 "Rating is asked too often"
This is not what we aimed for!

<img width="192" alt="Screen Shot 2022-06-21 at 17 25 45" src="https://user-images.githubusercontent.com/4329185/174954348-6e932ecb-5744-4d5b-a08f-84b8bcfb6d80.png">

[2022-06-22 06:28] AvdLee commented on #195
That is not good indeed, I'll look into that!

[2022-06-23 07:27] AvdLee commented on #195
@nlabarbera this is perfect, thanks a lot! For my idea: do you have any Simulators open? And if so, where is that Simulator located on the screen?

[2022-06-23 17:34] nlabarbera commented on #195
Hey @AvdLee - sorry about the delay here. No, the simulator is closed. Both Xcode and the Simulator are killed and not running or still looming in the background.

[2022-06-25 12:16] AvdLee commented on #196
Fixed in 8.0.3

[2022-06-25 12:16] #196 closed

[2022-06-25 12:17] AvdLee commented on #195
Got it reproduced, fixing now!

[2022-06-25 13:29] AvdLee commented on #195
Fixed in 8.0.3!

[2022-06-25 13:29] #195 closed

[2022-06-26 10:04] AvdLee commented on #192
This is implemented in 8.1.0

[2022-06-26 10:04] #192 closed

[2022-06-27 15:17] nlabarbera commented on #195
@AvdLee - Sweet, rock on! You are truly the best. Thanks for all the great content and a wonderful product! Have an amazing week buddy! 🚀

[2022-06-28 15:36] Sherlouk opened #197 "App Icon in "Recent Builds" is incorrect [Xcode 14]"
**Describe the bug**

App icon in "Recent builds" is incorrect using the new Xcode beta.

**To Reproduce**
Steps to reproduce the behavior:
1. Using Xcode 14 and a "Single Size" app icon, build your iOS app.
2. Notice how the app icon in RocketSim is **not** the app's icon.

**Expected behavior**

I would expect the app icon in the "Recent builds" area to be that of the app (see the one on the sim

[2022-07-04 11:45] AvdLee commented on #197
Aii, interesting!! Thanks for reporting in, I'll have a look

[2022-07-04 14:48] AvdLee opened #198 "Sales window shows behind grid"
Reported here: https://twitter.com/pkluz/status/1543949401235902469/photo/1

See:
![image](https://user-images.githubusercontent.com/4329185/177177824-7023defe-1f19-41c1-9733-2d0c4d352fb2.png)

[2022-07-05 16:12] AvdLee opened #199 "Allow configuring Recent Builds panel visibility"
Not all users use it, so it would be nice to hide it accordingly.

[2022-07-06 09:46] AvdLee commented on #195
@nlabarbera thank you for reporting the issue!

[2022-07-11 15:37] nlabarbera opened #200 "macOS Spaces Doesn't Show Preview Of Active Window"
**Describe the bug**
Sorry to bug you again @AvdLee. However, since the update was pushed resolving [Appearing When Switching Spaces](https://github.com/AvdLee/RocketSimApp/issues/195), macOS Spaces now doesn't show the active windows that are on the current Space. I can confirm, this is only an issue when RocketSim is open. When RocketSim is closed, macOS Spaces works as designed.

Related to thi

[2022-07-12 17:55] AvdLee commented on #200
@nlabarbera thanks for reporting in! RocketSim hides whenever the Simulator hides. I don't see a Simulator window active in your Space, is that correct? In other words, it's expected for RocketSim to not be visible.

Or, do you state that RocketSim causes Xcode to hide in the spaces overview? 🤔  If so, I'm afraid there's not much I can do to fix that... 🤔

[2022-07-26 13:01] medcalc opened #201 "'Show touches in recordings' doesn't work with GIF recordings"
**Describe the bug**
Touches don't show up in GIF recordings.

**To Reproduce**
Steps to reproduce the behavior:
1. Check 'Show touches in recordings' in Preferences...
2. Click on 'Start GIF Recording'
3. Tap on simulator while recording, touches are displayed
4. End recording
5. View final result, touches are not shown on the produced GIF file.

**Expected behavior**
Touches should appear, as th

[2022-07-26 13:10] medcalc opened #202 "'Add device bezels around captures' doesn't work with GIF recordings"
[This is a duplicate of bug  #136]
I believe it's an important feature (it's in part why I paid the pro subscription), because I use GIFs in slideshows alongside with PNGs and JPEGs, without the more complicated logic of having to deal with different HTML markup in the slideshow if I was mixing images and video files...

Describe the bug
Device bezels don't show up in GIF recordings.

To Reproduce

[2022-08-02 15:06] AvdLee commented on #139
I'm pretty sure this is solved now!

[2022-08-02 15:06] #139 closed

[2022-08-07 14:56] AvdLee commented on #160
Also requested [here](https://twitter.com/designerdrug/status/1553474006526861312?s=11&t=0PUU3hw0rFwrlnOdhvrVdw)

[2022-08-07 14:57] AvdLee opened #203 "Allow enabling stage manager"
Using `xcrun simctl spawn booted defaults write -g SBChamoisWindowingEnabled -bool true` as tipped [here](https://twitter.com/username0x0a/status/1555265064982265858?s=11&t=0PUU3hw0rFwrlnOdhvrVdw)

[2022-08-07 15:00] AvdLee commented on #203
<img width="2416" alt="RocketSim_Screenshot_iPad_Pro_(9 7-inch)_2022-08-07_17 00 02" src="https://user-images.githubusercontent.com/4329185/183297309-64cb579e-0636-470d-9d19-c31fe10584ed.png">

[2022-08-09 19:07] AvdLee commented on #199
Will be fixed in 8.4.0

[2022-08-09 19:07] #199 closed

[2022-08-09 19:38] AvdLee commented on #197
I was able to fix this by adding a fallback to search for any PNG with `AppIcon` in the name. Fixed in 8.4.0!

[2022-08-09 19:38] #197 closed

[2022-08-10 19:16] #194 closed

[2022-08-10 19:17] #188 closed

[2022-08-10 19:18] AvdLee commented on #146
Haven't seen an issue with this so far

[2022-08-10 19:18] #146 closed

[2022-08-10 19:59] AvdLee commented on #137
I'm submitting 8.5.0 tonight!

![image](https://user-images.githubusercontent.com/4329185/184008708-88023cf3-47e1-4c02-8f67-9ab472503502.png)

[2022-08-10 19:59] #137 closed

[2022-08-13 12:34] AvdLee opened #204 "Clear color for bezel makes the device mockup disappear"
![RocketSim_Screenshot_iPhone_13_Pro_2022-08-13_14 33 27](https://user-images.githubusercontent.com/4329185/184494250-155102b6-f888-45d6-9226-f19cc2a102cf.png)

[2022-08-13 12:36] AvdLee opened #205 "Allow adding bezels around existing screenshot or video"
Maybe by a right click extension action? Would be useful for videos generated on a device and it should be easy to reuse existing logic.

[2022-08-14 16:12] vdhamer opened #206 "Landscape mode captures are upside down"
The output files are by default upside down when Xcode simulator is position in Landscape mode.

If you
1. Launch the simulator.
2. Click once on the rotate 90' button.
3. Save the output (it holds for PNG files, but likely also for MP4)

**Workaround**
- Click 3x on the rotate 90' button
- Or fix the output PNG images by rotating 180' in Photoshop

**Desktop (please complete the following informa

[2022-08-14 16:24] vdhamer opened #207 "Floating capture windows can end up off-screen"
**Describe the bug**
If I take too many captures (without clicking on them), the vertical row
runs off the bottom end of the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Studio Display in normal resolution (5K).
2. Make 10 captures to say PNG after each other (DON'T press copy or save or x, just leave them).
3. Save the top 9 captures. Works ok.
4. Try to access the 10th. I can se

[2022-08-14 16:35] vdhamer opened #208 "MP4 resolution not suitable for App Preview"
**The bug**
There are 4 device types needed for submitting an app to the App Store.
The generated MP4 files (with bezels on) are not accepted by App Store Connect
because the resolutions are not correct. Maybe App Store changed req's?

**To Reproduce**
1. Start simulator for gen2 iPad Pro 12.9"
2. Check that bezels are enable in RocketSim.
3. Create a short MP4 video3. A few seconds is enough.
4.

[2022-08-14 21:23] vdhamer opened #209 "typo: "Convertion failed" -> "Conversion failed""
**Describe the bug**
An error message shown in the little windows that appear when you capture still/video.
Just contains a typo.

**To Reproduce**
I won't bother figuring out when the error message shows up (probably a bug in itself: maybe related to 0 second Gif captures?).
But it is simplest to just find the typo via a text search ;-)

[2022-08-14 21:29] vdhamer commented on #209
<img width="464" alt="Screenshot 2022-08-14 at 23 27 00" src="https://user-images.githubusercontent.com/13396568/184555588-0c2a4db3-f0d7-4ea7-8d2e-b423791ceffa.png">

[2022-08-14 21:31] vdhamer commented on #208
<img width="834" alt="Screenshot 2022-08-14 at 23 31 18" src="https://user-images.githubusercontent.com/13396568/184555652-6051744a-f3f2-4b16-8b24-daacc6c8a72c.png">

[2022-08-16 14:37] AvdLee opened #210 "Multiple currency on sales page"
![image](https://user-images.githubusercontent.com/4329185/184907102-2f29ed5d-e02c-4013-a1b2-550a4161cd04.png)

https://twitter.com/twannl/status/1559480874386718726?s=21&t=tR6gfC6rr3HLCPnit92FMw

[2022-08-17 07:42] hrvoje0099 opened #211 "RocketSim for tvOS"
All the same only for tvOS simulators.

[2022-08-19 09:01] rukano opened #212 "RocketSim PRO seats for companies"
Is there any way to buy or subscribe to RocketSim PRO for companies? At the moment is all done via AppStore subscriptions (which probably use the user's private AppleID) but is it possible for a company to buy let's say 4 seats, and distribute them to 4 employees?

[2022-08-19 11:46] AvdLee opened #213 "Unclosable Sales Window"
Reported by E. Mitko

[2022-08-19 21:29] Sherlouk opened #214 "High Battery Usage?"
**Describe the bug**

Unclear if there's much you can do about this but with Xcode and my simulator not even open RocketSim is being ranked as an app using significant energy on my MacBook.

Could be worth exploring? I wouldn't expect RocketSim to be using much battery especially when the Simulator isn't even open.

**Screenshots**

![image](https://user-images.githubusercontent.com/15193942/18570

[2022-08-20 07:02] AvdLee commented on #210
Fixed in 8.5.0

[2022-08-20 07:02] #210 closed

[2022-08-20 07:03] AvdLee commented on #214
@Sherlouk could you send me a Diagnostics report through Preferences -> About -> Report an issue? That helps me to see what RocketSim was doing at that time.

[2022-08-20 07:04] AvdLee commented on #209
Yesss, perfect! These are quick wins 💪 Thanks, fixed in 8.5.0!

[2022-08-20 07:04] #209 closed

[2022-08-20 07:18] AvdLee commented on #212
The only way to purchase RocketSim is through the App Store, but it might be possible to have a look at [Apple Business Manager](https://developer.apple.com/support/volume-purchase-and-custom-apps/). Hope that helps! If not, can you contact me at contact@avanderlee.com?

[2022-08-20 07:18] #212 closed

[2022-08-20 07:19] AvdLee commented on #206
This is a known problem and not something I can fix right now since I'm unable to read out the orientation of the Simulator. You can rotate the simulator twice more and it should result in the right output. Let me know if that helped!

[2022-08-20 07:19] #206 closed

[2022-08-20 07:54] #204 closed

[2022-08-20 11:15] Sherlouk commented on #214
Absolutely, I've sent you the report on Twitter.

[2022-08-20 11:18] Sherlouk commented on #214
Report has been sent 👍

[2022-08-24 10:48] kassi opened #215 "Folders don't open on first click"
**Describe the bug**
If I choose a folder from the RocketSim menu bar icon according to the currently running app, the folder won't open.
Hitting the menu item a second time opens the folder in Finder.
This happens every time after a restart of the app via Xcode (CMD+R).
Same for other folders like Application Support.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Xcode and hit CMD+R

[2022-08-24 18:13] AvdLee commented on #207
Now I need to buy a Studio Display to fix this issue 🤪

Thanks for reporting this in! I believe I can totally optimise this workflow. I'll explore and fix accordingly!

[2022-08-24 18:21] AvdLee commented on #214
As discussed in mail we could not reproduce it for now. I'm closing the issue until we have a clearer path of reproduction. I'm planning performance improvements in Q4 either way which will help improve this issue.

[2022-08-24 18:29] AvdLee commented on #215
@kassi I tried reproducing this, but without success. Do you think it's possible for you to sent me a screen recording to contact@avanderlee.com?

[2022-08-24 20:05] vdhamer commented on #207
The Studio Display has the same resolution as an ancient 5K iMac.
So you can try one of them first.

If you want me to test or confirm, let me know.

Sent from my iPad

On 24 Aug 2022, at 20:13, Antoine van der Lee ***@***.***> wrote:

﻿

Studio Display in normal resolution (5K).

Now I need to buy a Studio Display to fix this issue 🤪

Thanks for reporting this in! I believe I can totally optimise

[2022-08-24 20:36] vdhamer commented on #208
"Expected behavior". Yes, you expected it, but you might have inside information ;-) But anything in your documentation to show that two of your main features (bezels and App Store support) don't go together?

"Bezels change resolution" (and aspect ratio) sounds logical. But doing an image resize (in PS) followed by a canvas resize (in PS, with appropriate fill color) gives me the correct resoluti

[2022-08-25 06:41] AvdLee opened #216 "Statusbar icon with update available does not apply template color"
See: https://twitter.com/stuffmc/status/1562387254982901765?s=11&t=PSQixZyVD5S7o9mGFiMjOQ

![image](https://user-images.githubusercontent.com/4329185/186593431-16e1d474-1c90-494a-b6e1-b045470b9f56.png)

[2022-08-25 06:47] AvdLee commented on #215
Alright, key is to really open the folder from the status bar menu directly after launching a new build. It's likely that the build folders didn't refresh for the latest generated build.

[2022-08-25 09:56] AvdLee opened #217 "App crashes setting thick lines to 0"
Hi,

the app crashed for me after I did change the value for the „Thick lines every <input> blocks“ option to 0 inside the Comparing preferences.

I can reopen the app but it keeps crashing as soon as Simulator.app comes into focus and the value is kept at 0 inside the preferences.

After changing the value back to any non-zero value inside the preferences, the app does not crash anymore :)

Repor

[2022-08-25 13:23] AvdLee commented on #208
That's a very valid point. I'll reopen this issue, but mostly to indicate more clearly that bezels and ASC Previews are not supported. Since bezels might change aspect ratio, it will actually be hard to make preview videos formatting work without changing how the app looks.

I appreciate the detailed reply!

[2022-08-25 23:11] vdhamer commented on #208
Ahhh. Well actually what I did to get JPG and MP4 into the App Store was to scale both exactly to the expected dimensions and thus expected aspect ratio.

The procedure I mentioned was how I converted the JPGs with bezels.

A comparable procedure for converting the MP4 with bezels used Apple's iMovie (comes with MacOS) that actually has built in support for generating App Previews for the App Stor

[2022-09-04 14:26] Sherlouk commented on #35
Going to drop a plus one and subscribe to updates on this. Would love this capability with the ability to create multiple sample APNS payloads and quickly send them (especially while recording to demo key journeys etc!)

[2022-09-06 09:47] 4PixelsDev opened #218 "Grant/Revoke push notifications from the app"
**Is your feature request related to a problem? Please describe.**
Whenever developers need to implement the push notification feature, they need to cover use cases when a user allows, and then when the user denies the push notification request. In order to implement this, they need to open the `Settings > their application > Notifications > Allow Notifications` multiple times. It would be nice if

[2022-09-13 12:53] AvdLee opened #219 "Recent builds stays empty"
In some cases, recent builds window stays empty for fresh builds.

It seems to be happening mostly with simulators that have `(2nd Generation)` or similar in their name, so let's see if that's the cause of this issue.

[2022-09-14 16:28] gdelataillade opened #220 "Unable to use RocketSim with another simulator"
I'm using the free trial.

I started using RocketSim with an iPhone SE (3rd generation) but then I wanted to switch to an iPhone 14 Pro Max because my Figma screens are designed with large screen dimensions.

The issue:
When I open another simulator instead of the iPhone SE, the RocketSim floating windows are not showing. I am still able to take screenshots though.

<img width="300" alt="Screen Sh

[2022-09-15 09:49] AvdLee commented on #35
Yeah, this is still something on top of my mind, but I just didn't get to building it yet! I'll see if it fits the 9.0 release in Q4!

[2022-09-15 09:53] AvdLee opened #221 "Setup permissions in statusbar menu does not update when changed from popup"
* Update permissions in floating popup
* Open statusbar menu
* See that permissions are still required

[2022-09-15 13:03] Sherlouk commented on #35
Aye no pressure Antoine, your product, your roadmap! I think with Live Activities and such coming through now though, and the ability to drive/update them from push notifications, it would be an ideal time to add this capability.

[2022-09-16 09:05] AvdLee opened #222 "Update available mention isn't working as expected"
It should open the App Store, but it's currently not doing anything

<img width="486" alt="image (11)" src="https://user-images.githubusercontent.com/4329185/190600697-313cf672-2494-45de-9d4e-8d94e550cb3a.png">
<img width="225" alt="image (12)" src="https://user-images.githubusercontent.com/4329185/190600710-233c4391-075e-4cf4-a7cd-78180f39aceb.png">

[2022-09-18 09:26] AvdLee commented on #134
Done!

[2022-09-18 09:26] #134 closed

[2022-09-19 06:19] AvdLee commented on #220
This was fixed in 8.7.0. Feel free to reopen this issue if you're still experiencing the same problems.

[2022-09-19 06:19] #220 closed

[2022-09-19 06:27] AvdLee commented on #35
Totally, couldn't agree more! It actually fits my roadmap perfectly well, so expect this in Q4!

[2022-09-19 08:44] gdelataillade commented on #220
Hi! The only way I found to download RocketSim is on the App Store, and the last version on the App Store is 8.6.0 (released 4 days ago).

Info:
_macOS Monterey 12.5.1
MacBook Pro 14 M1 Pro_

[2022-09-19 08:49] gdelataillade commented on #220
It seems to be fixed on 8.6.0 though. I'm closing the issue.
Thanks

[2022-09-30 08:34] AvdLee opened #223 "Xcode selection loop"
Reported by Rene Skov

[2022-10-01 11:46] medcalc commented on #201
https://digitalbunker.dev/automatically-create-gifs-from-the-ios-simulator/

Now I understand, this feature depends on code you didn't write (Apple code), so that's why this is certainly a "won't fix".

[2022-10-03 08:09] vdhamer commented on #208
In Sep 2022, my submission to the App Store got rejected because I used bezels in the images and video preview.

I don't understand the reasoning behind this (some large apps have heavily Photoshopped screenshots, including screenshots that span consecutive images). I can't see how this misleads the user. But anyway, that's my conclusion: depending on the reviewer, you may or not be allowed to hav

[2022-10-03 09:35] medcalc commented on #201
Yes, I detailed the reason I prefer gifs in the first issue I posted ( https://github.com/AvdLee/RocketSimApp/issues/202 ). Mainly animated Gifs are much easier to integrate in websites that MP4, especially in the middle of a slideshow of jpegs. Not having to change the markup for movies is much easier.

I wouldn't mind so much that GIFs are second-class citizen (no device chrome, no touches) if i

[2022-10-08 16:50] AvdLee opened #224 "RocketSim shows up in Mission Control"
![image](https://user-images.githubusercontent.com/4329185/194718485-2782fdf7-eaa5-4e03-87bf-0747026e6b71.png)

Reported by Franklin Byaruhanga

[2022-10-10 11:36] johnnieWa1ker commented on #180
Are you considering adding to the subscription model the ability to “freeze” pro-functionality at the level of the latest version of the application at the end of the subscription?

To make it clearer - I saw such a model in CleanShot X and it seems to be the most honest and interesting payment scheme. There is a motivation for the developer to release updates and it seems to be a more attractive

[2022-10-11 17:58] AvdLee commented on #180
Well, I would love to do such thing, but that becomes unmanageable in the Mac App Store. I'm trying to find the best middleground between maintaining a side project while also offering best licence options possible.

Currently, I'm considering adding license key support for teams through a web purchase, activating it in the app later. Not sure if that gets approved by Apple, though!

[2022-10-12 17:24] AvdLee opened #225 "Screenshot sometimes fails with an error"

[2022-10-18 18:38] AvdLee opened #226 "Image landscape rotation doesn't match video rotation"
Which means users have to flip the orientation when switching between video and image, oops!

[2022-10-19 17:54] kristojorg commented on #202
I am also seeing this with Ventura 13.0 and RocketSim 8.6.0 (117)

[2022-10-19 17:55] kristojorg commented on #201
I am also seeing this problem. If it is intended functionality I think it should be more clear on the website that bezels and touches are not supported for Gifs

[2022-10-22 17:17] vdhamer commented on #225
"sometimes" looks like an understatement. Hard to get any screenshots done. Workaround?

[2022-10-25 20:34] 4PixelsDev opened #227 "Rocketsim shows a new version is available although it's already installed"
**Describe the bug**
The behavior from the title also happens after the application restart.

**Screenshots**
<img width="1459" alt="Screenshot 2022-10-25 at 22 29 11" src="https://user-images.githubusercontent.com/597534/197876213-b4c5f713-730a-4564-8ee8-9a521185e5b9.png">

**Desktop (please complete the following information):**
 - OS: macOS Ventura
 - Version  13.0 (22A380)

[2022-10-28 13:37] AvdLee opened #228 "Team Licenses & Purchasing outside of App Store"
For Team Licenses or options to buy RocketSim outside of the App Store, check out: https://avanderlee.gumroad.com/l/rocketsim

[2022-10-28 13:38] #228 closed

[2022-10-28 14:59] AvdLee opened #229 "License activation window gets stuck"
![image](https://user-images.githubusercontent.com/4329185/198663983-d7ed64b5-2765-4f67-8f72-ac40128ac6fd.png)

[2022-10-28 16:11] AvdLee opened #230 "Add bezels to video doesn't work always for free account"
There seems to be scenarios in which the bezels don't get applied. See video from Tomas Sliz

[2022-10-29 07:03] AvdLee commented on #230
This is fixed in the next release

[2022-10-29 07:03] #230 closed

[2022-10-29 07:10] AvdLee commented on #229
Fixed in the next release

[2022-10-29 07:11] AvdLee commented on #227
This is fixed in 8.6.2

[2022-10-29 07:11] #227 closed

[2022-10-31 08:02] AvdLee commented on #225
@vdhamer from analytics I can see that it works for most of the users, that's why I mention "somtimes". Are you constantly running into issues? If so, would you mind sending me a Diagnostics Report through Preferences -> About -> Report an issue?

[2022-11-01 18:38] nonameplum opened #231 "Ability to offset the screenshot against the iOS simulator."
**Is your feature request related to a problem? Please describe.**
Ability to adjust offset of the screenshot when comparing (useful when sometimes designers make "universal" design between platforms and e.g. the navigation bar is at different position from the top than what we have by default have on iOS).

**Describe the solution you'd like**
Fields that would allow to set the offset (left, righ

[2022-11-03 10:48] AvdLee commented on #231
@nonameplum thanks for reporting in! I wonder, have you tried the available offset options?
![CleanShot 2022-11-03 at 11 46 51@2x](https://user-images.githubusercontent.com/4329185/199701717-d6d5a731-f5b8-4f1f-bb89-f319adb58a6a.jpg)

If so, could you elaborate a bit more what you need? As in: do you need more fine control as in pixel offsets?

[2022-11-03 10:57] nonameplum commented on #231
Yes, I have tried but I didn't see any difference (as probably the image ratio matched exactly the same with simulator?).
Anyway, I have ability to precisely configure the offset would be great.

[2022-11-03 11:13] nonameplum commented on #231
Simulator: iPhone 14 iOS 16.0
![test](https://user-images.githubusercontent.com/1753816/199706675-5b88676c-a2c0-4d46-93bf-29b494432a5e.png)

[2022-11-04 02:16] vdhamer commented on #225
Yes, I was consistently/repeatedly running into issues. Ended up making screenshots without RocketSim.
Will send Diagnostics Report as soon as I can reach my Mac (am traveling with just an iPad, gasp!). My Mac hasn’t been upgraded to Ventura yet (for same reason) so I will test before and after the upgrade.

[2022-11-06 09:03] AvdLee opened #232 "RocketSim Window attaches to About window"
See Rene Skov email

[2022-11-06 09:04] AvdLee opened #233 "Improve Stage Manager support"
See email Rene Skov, the window seems to be jumpy

[2022-11-10 09:59] AvdLee opened #234 "Allow placing the RocketSim window at the bottom"
Especially with the new window design, this should be possible. See this thread: https://twitter.com/jordibruin/status/1590433320583647237?s=20&t=czoiD96ryrsbIYhLCtaxCg

[2022-11-10 14:15] mapierce commented on #202
Yeah I'm getting the same issue. It's a shame, cause a GIF is always what I use in a PR to show my changes and it looks more complete with the bezel

[2022-11-10 20:00] AvdLee opened #235 "Allow the overlay screenshot compare image to scroll with the Simulator"
See for context: https://twitter.com/nehayward/status/1590794292360269825?s=20&t=yuvcuElxlp5-axOd-4yb2w

It would allow to compare bigger screens

[2022-11-15 10:18] AvdLee commented on #225
@vdhamer I recently released a new version with big performance improvements. I'm closing this one for now as I'm pretty sure the issue should no longer exist. (I found a potential cause along the way). Feel free to reopen if otherwise!

[2022-11-15 10:18] #225 closed

[2022-11-15 10:24] AvdLee commented on #202
@mapierce you can use MP4s as well inside PRs and GitHub comments! Nevertheless, I see the value in this feature 🙏

[2022-11-19 17:27] AvdLee opened #236 "Allow `Save as...` for captured thumbnails"
See: https://twitter.com/IliaStukalov/status/1593724920244101120?s=20&t=y-yoMz_ITD2BNJMeazuPfg

[2022-11-22 18:37] AvdLee opened #237 "Add support for `iPad Pro (12.9 Inch) (6th generation)`"
It's currently not recognized.

[2022-11-23 12:51] scottwio commented on #235
This is the feature I can't live without at the moment I use XScope for overlays as I can manually scroll the image with it.

[2022-11-24 00:30] JonMercer opened #238 "Quit and relaunch app"
**Is your feature request related to a problem? Please describe.**
I have to quit manually.

**Describe the solution you'd like**
Menu item right beside "launch" and "uninstall" that quits and relaunches the app

**Describe alternatives you've considered**
Quit manually (cmd+shift+h two times then swipe up)

**Additional context**

[2022-11-24 08:27] AvdLee commented on #235
@scottwio thanks for that insight! Do you have a good suggestion on how this could work ideally for you?

[2022-11-24 08:48] AvdLee commented on #238
Nice idea! I could add:

- Terminate
- Relaunch

As options 💯

[2022-11-24 08:48] AvdLee commented on #238
Out of curiosity, when do you need to relaunch your app this way? That might allow me to better fit this feature.

[2022-11-24 12:29] scottwio commented on #235
I think, close to what you have now, but as you scroll, the image would scroll with you. Then you can adjust as needed horizontal and vertical, as sometimes your get designs that don't marry up to the initial position on the phone. xScopes' little draggy handles would be a nice interface for the adjustments.

![Screen Recording 2022-11-24 at 12 27 33 2022-11-24 12_29_10](https://user-images.github

[2022-11-28 12:04] Fortidude opened #239 "Grid and Rulers - wrong alignment"
**Describe the bug**

As you can see on the screen below - the middle of Rulers is at `51.3%` and the grid is completely miss aligned as well.
It would be nice to put the line directly in the horizontal middle of the screen.

**To Reproduce**
1. Open RocketSim
2. Enable Grid / Rulers

**Expected behavior**
Grid and rulers align to center (or a way to align them left/center/right(

**Screenshots**

[2022-11-28 13:17] AvdLee commented on #239
@Fortidude thanks for reaching out! Have you tried out the preferences options to change the grid spacing?
If not, could you see if that's fulfilling?

[2022-11-28 14:39] Fortidude commented on #239
hey 👋  @AvdLee

Yes, I have. The only one settings for Grid that 'kinda' works is this below. `49 blocks` works as well.

The main reason it doesnt work well is because it's aligned from the left edge of the screen - would be nice to align it to the center (horizontal)

### 49 blocks:
<img width="380" alt="Screenshot 2022-11-28 at 15 28 09" src="https://user-images.githubusercontent.com/8781462/20

[2022-11-28 18:51] #222 closed

[2022-11-28 18:51] #190 closed

[2022-11-28 18:52] AvdLee commented on #218
Unfortunately, `simctl` isn't supporting this. I filled feedback to see if we can make this happen later: `FB11831768`

[2022-11-28 19:13] AvdLee commented on #229
Apparently still happens!

[2022-11-28 19:14] AvdLee commented on #229
Maybe just add a close button to be sure

[2022-11-28 20:19] roblabs opened #240 "RocketSimApp "MP4 Recording" shows only one finger touch when rotating a map."
**Describe the bug**
Recording of Screen using macOS Grab shows two finger touches while rotating map.  Recording with RocketSimApp Pro shows only one finger touch while recording MP4.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a Simulator
2. Launch Apple Maps
3. Using the key & mouse strokes:  `<⌥-option>`-`<Mouseclick>`-`<Drag Mouse>`, you can rotate the map.
4. Record using ma

[2022-11-29 18:23] JonMercer commented on #238
I was debugging something that I could only repro on cold start after the install.

[2022-11-30 07:48] X901 opened #241 "Add Support iPad Pro (11 Inch) (4th generation)"
I just update to Xcode 14
on iPhone Pro all models it recognize it, on iPad it doesn't show app options
I just can Record using app button on menu bar

[2022-11-30 08:45] AvdLee commented on #240
@roblabs pinch gestures, yes! That would be great to add for sure 💪

[2022-11-30 08:51] AvdLee commented on #238
@JonMercer, that makes total sense! Through this way I also want to thank you for sponsoring and supporting me 🙌 Private sponsorships mean a lot to me and are a special kind 🙏

[2022-11-30 09:03] AvdLee commented on #241
Similar to #237, this will be fixed in the next major 9.0.0 release!